[2015-10-28 21:03] christian-bromann opened #1 "Update cucumber version"
Before publishing this package it would make sense to update to the latest cucumber version. According to webdriverio/webdriverio#843 the current implementation is not compatible with the new version.

[2015-12-23 03:01] christian-bromann opened #2 "test:start not firing when using the cucumber framework"
__cc__ @dhoulker

I'm using the cucumber framework for my tests.

I've tried to use a customer reporter that i wrote when using Mocha, however the `test:start` event doesn't seem to be firing when i switch to cucumber.

The `'start'` and `'suite:start'` events are working fine.

Has anyone else run into this?

[2015-12-31 01:29] christian-bromann commented on #1
Updated CucumberJS version to latest

[2015-12-31 01:29] #1 closed

[2015-12-31 01:46] #2 closed

[2016-01-08 22:00] monolithed opened #3 "Special tags"
[![Chimp tags](https://cloud.githubusercontent.com/assets/803674/12210282/d8e555c6-b669-11e5-9f99-20ada1791b81.jpg)](https://vimeo.com/151186833#t=95s)

[code]

[code]

What will be exported?

[code]

[code]

https://github.com/cucumber/cucumber/wiki/Tags

[2016-01-08 22:16] christian-bromann commented on #3
I would help if you could specify your change / make a proposal so people don't watch the video again and again ;-)

[2016-01-20 12:31] teneightfive opened #4 "WDIO and Cucumberjs 0.9"
I've been trying to upgrade my webdriver testrunner setup to cucumber 0.9.2 but am hitting a lot of issues.

I notice your package is now using the latest version of cucumber though. I was previously using webdriver 3.2.4 with cucumber 0.5.3. Upgrading webdriver to 3.4.0 worked fine so I tried upgrading cucumber.

It works with my current setup back to cucumber 0.7.0. v0.8.1 seems to hang on step

[2016-01-20 12:37] christian-bromann commented on #4
Hi,
This package only works with the new webdriverio v4. We haven't it released it yet but are about to do so really soon!

[2016-01-20 12:37] #4 closed

[2016-01-20 12:38] christian-bromann commented on #4
For now please stick with the old cucumber version

[2016-01-21 10:38] teneightfive commented on #4
Ah right. That would make sense.

Thanks. I'll keep my eye out for webdriverio v4...

[2016-04-11 14:19] ricoli opened #6 "cucumber format with a path not working?"
Hello, I'm trying to have cucumber output a json report using the format configuration key. Features run fine, but nothing gets written to the specified file:

[code]

Any clues?

[2016-04-11 16:46] christian-bromann commented on #6
We overwrite the reporter in the adapter so this property actually doesn't do anything. I don't know if it makes much sense to allow cucumber reporting since WebdriverIO has its own reporter tools that are especially designed for concurrent test suites.

We should remove this option in the description though.

[2016-04-11 17:13] ricoli commented on #6
Ah thank you for explaining... Would there be a way to get the json report at this point in time though?

[2016-04-11 23:26] AndrewKeig opened #7 "cucumber dependency"
Can you bump the cucumber dependency or set it as a peer dependency.

[2016-04-12 08:34] christian-bromann commented on #6
No, you can tweak the compiled framework code though

[2016-04-14 16:29] AndrewKeig opened #8 "Test runner, opens empty browser for each feature file with no tests targeted"
## Problem

When project contains multiple cucumber feature files:

[code]

And we are targeting a specific feature with a tag

[code]

The test runner will open an browser window for each feature file regardless of if their are tests to run in that file.

[2016-04-14 16:35] timbru31 commented on #8
Having the same issue. Using `"wdio-cucumber-framework": "0.0.6"`

[2016-04-18 19:35] jackmichel commented on #8
I am experiencing the same issue, also using "wdio-cucumber-framework": "0.0.6".

Not a big deal for me when running tests locally but it creates a lot of noise when running tests through SauceLabs or BrowserStack.

[2016-04-20 10:54] AndrewKeig commented on #8
Hi, any idea as to when we might get a fix on this?

[2016-04-21 10:06] christian-bromann commented on #8
@AndrewKeig feel free to start working on it 😉

[2016-04-21 10:13] sherbhachu opened #9 "Enhancement : Ability to use cucumber profiles"
Currently, we can pass in things like tags, and supposedly profiles at runtime, but I have been unable to get profiles working.

so you can do this...
wdio wdio.conf.js --cucumberOpts.tags some_tags

but..

[2016-04-22 01:29] GGuru opened #10 "Unable to run multiple step definitions through wdio config"
This is my config. It is not working if i pass a directory to require parameter. If i pass a specific step definition file, it works. So, I can't run multiple step definitions with this.

exports.config = {

[code]

};

[2016-04-26 06:33] jeremyrajan opened #11 "Support for es6 step definitions?"
Hi,

I have been trying to use es6 functions in my step definitions. Looks something like:

[code]

And my wdio.conf looks something like this:

[code]

<b>If I use es5, things work fine.</b> But when I try to use the above step-definition, it fails.

[code]

I have tried with babel-core/register and babel-register with es2015 preset. Both fail.

Is there anything I am doing wrong?

Any help will

[2016-04-26 16:17] christian-bromann commented on #11
@jeremyrajan you loose the context if you do this `module.exports = () => {`

If you want to use this you need to keep it though, so change it to:

[code]

otherwise the context will be the global scope.

[2016-04-26 16:17] #11 closed

[2016-04-27 02:00] jeremyrajan commented on #11
Hi @christian-bromann ,

Thank you for the response, appreciate it! I tried this one, but then it returns an unexpected token error. Because this one doesnt look like a correct syntax:

[code]

Could you please advice?
Thanks again! :)

[2016-04-27 02:03] jeremyrajan commented on #11
@christian-bromann, Taking my last comment back. I think, the `=>` was included by mistake :). So the correct one will be:

[code]

Thank you! Btw, is there a work around for this or is this the only way?

[2016-05-02 19:29] dcypherthis commented on #8
👍 On this.  Especially when using tags.    Looks like it's spawning a child process for each feature file detected in the chosen features directory.  WDIO is only running the tests that are tagged but seems to still spawn a process for the total number of .feature files.  I'm going to look into this tonight and work on it if I have time.  @christian-bromann would you recommend I start here or look

[2016-05-11 08:50] attila commented on #10
I noticed that does not work either. Tried with relative paths and realpaths using `path.resolve()` to no avail.
[code]
My guess is that the pattern is not matched properly. One workaround is to omit the require in `cucumberOpts` and stick all step definition files to their default location, i.e `features/step_definitions` and cucumber will pick them up.

[2016-05-11 22:23] #7 closed

[2016-05-18 18:01] christian-bromann commented on #8
I think though this (tagging) should be implemented project wide so it works across frameworks. However I am not sure about the implementation details.

[2016-06-09 12:41] twKrash commented on #6
We need json report to generate cucumber-html-report (from here https://github.com/leinonen/cucumber-html-report ). Any thought how we can do this ?

[2016-06-09 12:43] twKrash commented on #10
Seems to me that * in path is not working.

[2016-06-15 13:54] ricoli opened #14 "wdio-sync dependency"
Am I correct in assuming that the wdio-sync dependency is only used if ```sync: true``` is in the configuration? If so, wouldn't it be best that wdio-sync be changed to a peer dependency?
I ask this because I have a test suite that is run asynchronously and yet fibers has to be compiled and installed upon npm install, taking quite some time, when I suppose it's not even used.

[2016-06-15 17:47] christian-bromann commented on #14
Sorry but the wdio-sync package is used even if you have set `sync: false`. It contains the main logic around retrying tests and executing hooks. I don't think we can move it to be a peerDependency.

[2016-06-15 17:47] #14 closed

[2016-06-16 09:10] arif49 opened #16 "cucumberOpts 'format' not working"
I want to use the 'format' option while I run wdio-cucumber. But I cant figure out  how to make this work, lets say I want to write output from cucumber js into a json file.

[code]

I want to generate my report as cucumber js format as the default 'dot' or 'json' reporter is not a option for me to print pretty cucumber test results

[2016-06-16 09:39] #16 closed

[2016-06-17 07:23] snehatulsi commented on #16
hi. did you find a solution for using reporter inside this framework

[2016-06-17 21:58] wirsingj commented on #8
Any update on this issue?  Thanks!

[2016-06-20 10:54] arif49 commented on #16
Sorry no luck! I have ended up writing a custom reporter to display results in a friendly manner. See the below explanation,

https://github.com/webdriverio/wdio-cucumber-framework/issues/6

[2016-06-21 14:42] Kshirodram commented on #8
Tagging in wdio-cucumber framework is not working for me as well. Any luck ? It's running all the test cases even after scenario based tagging.  :(

[2016-06-28 19:47] coryallegory opened #17 "cucumber dependency should be a ~, not ^"
As per the comment on 93b473315479a49b8fe5afcf67663258885af9e1
"Set dependency pattern to resolve 1.0.x only"

^1.0.0 locks only the major version, where ~1.0.0 would only allow the revision version number to update.

[2016-06-28 19:50] coryallegory opened #18 "Please publish a new version"
The peer dependency on cucumber, which has recently updated their major version number, is annoying.

I see that a corresponding tweak to this package has been made, could you please publish a new version, thanks.

[2016-07-02 12:11] vytautas-pranskunas- opened #20 "Error migrating from cucumber 1.0.0 to 1.2.0"
Issue info can be found here:

https://github.com/cucumber/cucumber-js/issues/601#issuecomment-229388264

[2016-07-03 17:01] #17 closed

[2016-07-03 17:44] christian-bromann commented on #20
@vytautas-pranskunas- please try with latest released version: `wdio-cucumber-framework@v0.2.0`

[2016-07-03 17:44] #20 closed

[2016-07-03 17:45] christian-bromann commented on #18
Just released `wdio-cucumber-framework@v0.2.0`

[2016-07-03 17:45] #18 closed

[2016-07-05 07:57] sarneeh commented on #10
Have the same problem here.

[2016-07-05 20:39] timbru31 commented on #8
See https://github.com/webdriverio/webdriverio/issues/1247#issuecomment-230595671

[2016-07-05 22:14] timbru31 opened #21 "Default timeout in README does not match default timeout in adapter.js"
README says it's 10000 https://github.com/webdriverio/wdio-cucumber-framework#timeout

Code says it's 30000 https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/adapter.js#L12

I'm happy to make a PR - which of the values is the correct one?

[2016-07-05 22:15] timbru31 opened #22 "No support for tagged hooks or other hook timeouts"
According to the cucumber js documentation hooks can be tagged or have custom timeouts (not the default of 5000)
https://github.com/cucumber/cucumber-js#tagged-hooks
https://github.com/cucumber/cucumber-js#hook-timeouts

I see however no support for this in the hookRunner.js

[2016-07-06 06:19] christian-bromann commented on #21
There is no "right" value. I think 30s is fine though.

[2016-07-06 06:19] #21 closed

[2016-07-06 23:27] #22 closed

[2016-07-06 23:29] timbru31 opened #24 "Default timeout not working"
Since cucumber-js removed the ast_tree_walker recently (https://github.com/cucumber/cucumber-js/commit/dc698bf5bc10d591fa7adeec5fa21b2d90dc9679) the adapter needs to be adjusted to use https://github.com/cucumber/cucumber-js/blob/master/lib/cucumber/support_code/library.js instead to invoke setDefaultTimeout

[2016-07-07 06:07] #24 closed

[2016-07-13 22:32] timbru31 opened #26 "strict mode setting of cucumber is ignored"
**Problem**
The wdio-cucumber-framework does pass the strict option (true/false), but ignores the result. This happens due to the fact that cucumber handles each individual step result regardless of the strict mode setting, but in the end determines the feature result and checks for the strict mode option.

You can see it here in the cucumber project:
https://github.com/cucumber/cucumber-js/blob/m

[2016-07-15 12:45] mike-suggitt commented on #10
+1 this is really irritating

[2016-07-18 09:45] mike-suggitt commented on #10
FWIW I've done a workaround for the time being that aggregates files together using an `index.steps.js` file

[code]

[2016-07-21 18:52] sameer-b opened #29 "v0.2.3 Loops test when callback is called"
For some reason when I call the callback() at the end of my test it restarts my test. And keeps looping over my first test.

Any idea why this behavior?
I'm using wdio sync, w/ `sync=true` and my steps are `sync-my-step.js`

[2016-07-21 18:53] christian-bromann commented on #29
you don't need to call the callback then

[2016-07-21 18:56] sameer-b opened #30 "All tests marked as pending on first pending step"
I have steps in the following order
- Step 1 (done)
- Step 2 (pending)
- Step 3 (done)

After Step 2 even Step 3 is marked as pending.
I have

[code]

[2016-07-21 18:57] sameer-b commented on #29
Okay I will test this out and report back/close the issue.

[2016-07-21 18:57] #29 closed

[2016-07-21 19:23] sameer-b commented on #29
I tested it out my suite hangs on the first test. It will not proceed to the next step. :s
Can you reopen the issue?

[2016-07-21 19:25] christian-bromann commented on #29
Can you show your step definitions? There is no need to use the callback method in webdriverio since all commands are sync anyway

[2016-07-21 19:29] sameer-b commented on #29
Your new release 0.2.4 fixed the issue. :)
Thanks

[2016-07-21 19:31] christian-bromann commented on #29
Nice, yeah I think `v0.2.3` was a buggy release anyway

[2016-08-03 10:30] arif49 opened #31 "Commands like waitForVisible not working anymore"
With the updated module (v0.2.4), if I ran command like he following it gives me weird output thats makes no sense.. I am assuming the module is broken for `wait` related commands. My be because of updated cucumber dependency?

[code]

**Output:**

[code]

[2016-08-04 05:01] webmagit commented on #10
Removing the asterisk worked for me -

```require: ['./features/step-definitions/']```

[2016-08-04 08:08] mike-suggitt commented on #10
@webmagit Really? I (wrongly?) assumed the paths were globbed?

[2016-08-04 08:46] christian-bromann commented on #10
@mike-suggitt I just propagate the values to Cucumber directly so if Cucumber .. so might be that Cucumber handles it differently

[2016-08-11 09:44] christian-bromann opened #32 "Cucumber tests failing due to intermittently 'undefined' steps"
_From @dimirey on August 1, 2016 22:42_
## The problem

My cucumber tests often fail due to an issue where defined steps are mistakenly considered undefined. When run again, the failed 'undefined' steps occasionally pass correctly as defined. This happens when running ~16 tests in parallel. The failures started after updating webdriverio and the cucumber framework to the latest versions.
## Enviro

[2016-08-29 19:35] IGZangelsanchez commented on #6
I need the cucumber json output to send from a CI server to a external service that parses the JSON.
The WebdriverIO reporters are ok, but sometimes we need the original cucumber output.
If we can get the cucumber json ouput, It will be fantastic.

I wrote a ugly workaround to achieve this (it was written in a few minutes could be improved):

1- in wdio.conf.js
[code]

2- a cucumber hook to write

[2016-09-14 11:53] pscheit opened #33 "How to use --cucumberOpts.name"
Hi there,

I cant get the name-option  to work.

if I put into my config:

[code]

it does work.

But when I apply this from the command line:

[code]

the value is a string. But `Cucumber.Cli.Configuration` needs to have an array. I can specify the `--cucumberOpts.name` twice, but thats an ugly workaround, isn't it?

best regards
Philipp

[2016-09-19 21:03] si-mikey opened #35 "cucumberOpts.profile doesn't pick up profile"
I've got
[code]
And in cucumber.js file got
[code]
And various scenarios tagged @wip, @high and 1 tagged as @critical
when I run the wdio running command all the tests run and not that specific profile. Anyone know If im doing something wrong?

[2016-09-19 21:04] christian-bromann commented on #35
duplicate of #9

[2016-09-19 21:04] #35 closed

[2016-09-19 21:09] si-mikey commented on #9
any update on this issue?

[2016-09-19 21:11] christian-bromann commented on #9
PRs are welcome 😉

[2016-09-28 09:18] lj9142 opened #36 "Using tags"
Is it possible to use tags as an input in the command line like you would when running on cucumber by itself to just run a subsection of tests or can this only be done via the cucumberOpts in the wdio.conf.js?

[2016-10-07 16:01] si-mikey opened #37 "Step retries lose world context"
# **The Problem**

When a retry is kicked off the functions that were added to the World are no longer available on. They are available in the first run ( as retry has not been kicked off) when the retry happens it looks like it removes the World context from the step definitions.

[code]

[code]

wdio-cuucmber-framework version: 0.2.5
wdio version: 4.2.11
cucumber version: 1.2.2

[2016-10-08 13:20] christian-bromann opened #38 "Wdio cucumber runner doesn't always show test results"
_From @gsccheng on September 24, 2016 23:10_
## The problem

I'm not sure where to post this issue but I'll start here at the top level since I use the wdio test runner with Cucumber.

I think I may be getting a race condition where my spec reporter doesn't always show the test result because the runner is ending prematurely. It seems to only occur when there are multiple browser commands, whether

[2016-10-08 13:20] christian-bromann commented on #38
_From @msegado on October 6, 2016 22:13_

@gsccheng, do you have screenshots enabled? I'm wondering if this is the same underlying issue as #1591.

[2016-10-09 13:18] royriojas commented on #6
Hi @christian-bromann, I know this issue has some time and there seems to be an existing workaround, but I will like to point that cucumber seems to accept multiple reporters, maybe you guys want to reconsider just honor the `format` property? I tested the following code in my fork on the `adapter.js` file and it just worked. Would you guys be open to accept a PR for this functionality?

[code]

j

[2016-10-10 18:02] gsccheng commented on #38
Thanks for addressing my issue.

Following #1591 I've commented out `screenshotPath` and also tried setting it to a nonexistent path and either way still produces the same problem the majority of the time. Yes, in a minority of the time I would get the report as expected so the problem doesn't occur all the time.

[2016-10-13 10:20] prasanjitmohanty opened #39 "npm install wdio-cucumber-framework --save-dev not working on windows 7 64 bit"
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "install" "wdio-cucumber-framework" "--save-
dev"
npm ERR! node v5.5.0
npm ERR! npm  v3.3.12
npm ERR! code ELIFECYCLE

npm ERR! fibers@1.0.15 install: `node build.js || nodejs build.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the fibers@1.0.15

[2016-10-13 10:23] christian-bromann commented on #39
Seems that fibers failed to install, please file an issue in this project: https://github.com/laverdet/node-fibers

[2016-10-13 10:23] #39 closed

[2016-10-18 14:57] shkaper commented on #37
Happened for me, too. Any workaround for this one?

[2016-10-18 15:12] si-mikey commented on #37
The line below seems to be related
https://github.com/webdriverio/wdio-cucumber-framework/blob/004a1a25a2eae80788dd8ee50fc03abe171a42d3/lib/adapter.js#L83

[2016-11-24 13:06] wvankuipers commented on #38
I was looking into this but I have a hard time reproducing this. @gsccheng is this still an issue? If so could you try this code and share the output?

    // features/step_definitions/auth.js
    this.Given(/^this should work$/, function () {
        try {
                browser.url('https://google.com');
                var source = browser.getSource();

                expect('foo').to.exist;

[2016-11-24 13:11] wvankuipers commented on #33
You can specify an array of options separating them by a `,` like so:

    wdio --cucumberOpts.name="Viewing all teams","on the homepage"

[2016-11-29 15:17] lj9142 opened #41 "Does not work with new cucumber release"
Hello,

I have updated my version of cucumber to 2.0.0 as it was released 4 days ago and it does not seem to be compatible with my framework as i am getting the following error:

![image](https://cloud.githubusercontent.com/assets/22213596/20715279/963d6276-b646-11e6-8ac5-22fbd03e176d.png)

I don't know if this is a direct cucumber issue or if it is just no longer compatible with this wdio module.

[2016-11-29 16:04] christian-bromann commented on #41
As it states in the [package.json](https://github.com/webdriverio/wdio-cucumber-framework/blob/master/package.json#L60-L62), right now only 1.x is supported. We will update Cucumber with the next release.

[2016-11-29 16:04] #41 closed

[2016-11-30 05:12] souptown opened #42 "Errors out with cucumber.js 2.x"
Cucumber.SupportCode seems to be undefined. This is a problem for someone working through the examples, because the default install of cucumber.js is now 2.x.

[code]

[2016-11-30 10:44] christian-bromann commented on #42
Duplicate of #41

[2016-11-30 10:44] #42 closed

[2016-12-02 20:34] gsccheng commented on #38
Thanks for looking into this. Since I've had this problem, I ended up switching to a new computer, and updating all the relevant dependencies. I'm not sure what caused it, but I've just finished all my UI-tests without any problems. This can be closed.

[2016-12-03 11:54] christian-bromann commented on #38
@gsccheng glad everything worked out.

[2016-12-03 11:54] #38 closed

[2016-12-04 14:28] emartinpi commented on #9
I know PR's are welcome but... does anyone know if there is any update with this issue?? 😉

[2016-12-07 15:57] christian-bromann commented on #31
Please try again with latest version.

[2016-12-07 15:57] #31 closed

[2016-12-07 15:58] christian-bromann commented on #33
thanks @wvankuipers

[2016-12-07 15:58] #33 closed

[2016-12-07 15:59] christian-bromann commented on #36
It should, try `wdio wdio.conf.js --cucumberOpts.tags="tag1,tag2"`

[2016-12-07 15:59] #36 closed

[2016-12-13 07:34] ebuildy opened #44 "Last version (0.2.13) breaks cucumber-boilerplate demo"
Just clone cucumber-boilerplate project, npm install and run the demo and got:

[code]

If I pin version 0.2.12 explicitly, re-install stuff, it works fine.

[2016-12-13 09:17] christian-bromann commented on #44
@ebuildy have you tried with latest webdriverio version?

[2016-12-13 10:04] ebuildy commented on #44
Ya it works!

So you should bump webdriverio version on cucumber-boilerplate demo project.

Thanks you very much,

[2016-12-13 10:04] #44 closed

[2016-12-21 14:59] lj9142 opened #45 "Babel error when updating to version 0.2.15"
I am getting the below error after upgrading from version 0.2.12 to version 0.2.15:

![image](https://cloud.githubusercontent.com/assets/22213596/21393638/3d9e4aba-c78d-11e6-8ac9-7ec8b18d361d.png)

I am not using Babel so not sure why this is happening
I am currently using:
node v6.3.0
npm v4.0.2
webdriverio v4.5.1
wdio-allure-reporter v0.1.2
wdio-selenium-standalone-service v0.0.7
wdio-visual-reg

[2017-01-17 11:47] rochdev opened #46 "Output is incomplete"
Given a feature:

[code]

I would expect to have a similar output in the console, but instead I get:

[code]

It's missing all the keywords to make proper sentences which are usually added by cucumber.

I am using the `spec` reporter with the `pretty` formatter.

[2017-01-17 15:46] lj9142 commented on #45
This now seems to be no longer occuring therefore closing this ticket

[2017-01-17 15:46] #45 closed

[2017-01-17 17:06] christian-bromann commented on #46
@rochdev right now this is how spec reporter works. It isn't quite aligned to other cucumber reporters. Note that WebdriverIO has framework independent reporters that work also with other test frameworks like Mocha or Jasmine.

The spec reporter could be smarter about which framework is used and adapt the output accordingly.

[2017-01-17 17:07] christian-bromann commented on #46
This issue was moved to webdriverio/wdio-spec-reporter#21

[2017-01-17 17:07] #46 closed

[2017-02-06 13:38] prasanjitmohanty opened #47 "WDIO test runner ignores all tests if multiple tags are specified in cucumberOpts"
If I am specifying multiple tags  e.g - tags: ['@P1','@P2'],  in cucumberOpts the test runner ignores all tests without any error. I have test scenarios for both tags. It only works if only one tag or without any tag.

"webdriverio": ^4.6.2",
"wdio-cucumber-framework": "^0.2.5",

[code]

[2017-02-07 17:05] prasanjitmohanty commented on #47
It is an issue with "cucumber": "~1.3.1" used which fails in case of multiple tags. The current version is 2.0.0 so my guess is doing a dependency upgrade will fix this for wdio-cucumber-framework.

[2017-02-21 14:26] jagannath13 opened #48 "ERROR: Cannot read property 'SupportCode' of undefined"
with latest version of cucumber and ES6 always getting this error

[2017-02-25 17:21] christian-bromann commented on #48
Please use the cucumber.js version defined in the [peer dependencies](https://github.com/webdriverio/wdio-cucumber-framework/blob/master/package.json#L61). We will try to update to the latest cucumber version soon.

[2017-02-25 17:21] #48 closed

[2017-03-06 21:55] si-mikey commented on #37
Any updates?

[2017-03-08 13:56] broder commented on #47
I was struggling with this too and I think the issue is that old-style cucumber tags (e.g. in cucumber-js 1.3.1) are confusing (this is fixed with new-style cucumber tags: https://docs.cucumber.io/tag-expressions/#migrating-from-old-style-tags)

In your case:

- `tags: ['@P1','@P2']` would run scenarios tagged with `@P1` AND `@P2`
- `tags: ['@P1,@P2']` would run scenarios tagged with `@P1` OR `@P2

[2017-03-09 15:30] si-mikey commented on #37
@shkaper the work around I found for this was to store any function / class instances in some custom object inside of the browser object. You would do this in a beforeScenario hook so it gets refreshed on every scenario. So something like this,

[code]

[2017-03-11 14:59] christian-bromann commented on #6
Thanks for all the downvotes 👍  😆

The decision to block cucumber reporters was intentional. These reporters only work when running feature specs synchronously one after each other. This is different when running Selenium tests. Since they take longer than unit test you want to run them in parallel. All reporter output becomes nonsense then, here is an example by just running one feature with 3 br

[2017-03-11 14:59] #6 closed

[2017-03-11 15:01] christian-bromann commented on #8
This is a general problem and will be tackled in webdriverio/webdriverio#1247

[2017-03-11 15:01] #8 closed

[2017-03-11 15:11] christian-bromann commented on #3
Closing due to inactivity. This looks like an interesting feature but I see nothing happen for over a year. Therefor closing.

[2017-03-11 15:11] #3 closed

[2017-03-11 15:49] christian-bromann commented on #9
@dcypherthis @wvankuipers do you guys have an idea on how to apply profiles in cucumber?

[2017-03-11 15:58] christian-bromann commented on #10
Revisit issue and yes seems like cucumber handles this differently. I don't think it is a good idea to change this behavior as it would require to add another dependency. I added a note to the parameter description.

[2017-03-11 15:58] #10 closed

[2017-03-11 15:59] christian-bromann commented on #26
PRs welcome

[2017-03-11 16:03] christian-bromann commented on #30
How did you skip a single test?

[2017-03-11 16:04] christian-bromann commented on #32
@dimirey can you share a reproducible example?

[2017-03-11 16:10] christian-bromann commented on #37
Can someone provide a reproducible example?

[2017-03-11 16:12] christian-bromann commented on #47
We don't support Cucumber v2 and I am not even sure if we ever will as it seems that we are not able to integrate WebdriverIO in a way we are with v1.x. Once v2 is finally released I will take a look again. Until then please use the solution suggested by @broder (thanks!).

[2017-03-11 16:12] #47 closed

[2017-03-11 22:10] sameer-b commented on #30
By skip I meant pending. (The feature is not implemented yet).

[2017-03-11 22:10] #30 closed

[2017-03-13 10:03] prasanjitmohanty commented on #47
Please don't close the issue. As the suggested  approach is not working. Looks like wdio-cucumber-framework needs to handle this  before passing it to the cucumber

If tags passed as  `tags: ['@P1 OR @P2'], ` - It skips all tests
If tags passed as  `tags: '@P1 OR @P2', ` - ERROR: tagGroupStrings.map is not a function

[2017-03-13 10:05] broder commented on #47
You need to pass tags as `tags: ['@P1','@P2']` or `tags: ['@P1,@P2']`

[2017-03-13 10:33] prasanjitmohanty commented on #47
tags: ['@P1,@P2'] works. Thanks for the help

[2017-03-13 15:33] si-mikey commented on #37
world.js
[code]

step_defs.js
[code]

test.feature
[code]

The above code will run fine the first time, the second time because of retry 1
[code]
Will return undefined. More specifically this.fooBar is undefined.

[2017-03-20 23:08] BrandonDBrown opened #50 "Is there a way for the JSON reporter output to include the Gherkin step (i.e. Given, When , Then)?"
I would like the JSON output to include the Given When and Then steps. Is there a way this can be added to the JSON reporter when Cucumber is being used? If not, is there a way to add this to a custom reporter?

[2017-03-20 23:46] christian-bromann commented on #50
@BrandonDBrown sure this can be added to the json reporter. Just do a PR 😉 . The reporter is not owned by us but I am sure @fijijavis won't have anything against it.

[2017-03-20 23:46] #50 closed

[2017-03-20 23:48] BrandonDBrown commented on #50
@christian-bromann Great idea! Part of my question was asking for some help on how to add this to a custom reporter. If you have any ideas?

[2017-03-20 23:54] christian-bromann commented on #50
Just look how the json reporter is implemented and integrate the customer reporter like in here: https://github.com/webdriverio/webdriverio/blob/master/examples/wdio/wdio.customreporter.conf.js

[2017-03-20 23:56] BrandonDBrown commented on #50
@christian-bromann Bingo. I have done all this, but I don't know how to access the Given, Then and When keywords to add to my custom reporter.  Sorry my initial question wasn't very detailed.

[2017-03-21 00:02] christian-bromann commented on #50
If you don't get the data via the event payloads we need to enhance the wdio-cucumber-framework do send that data

[2017-03-21 15:55] BrandonDBrown commented on #50
Right now I am not seeing the data in the event payload. Wasn't sure if I was missing something.

[2017-03-21 15:56] christian-bromann commented on #50
as I said then we need to enhance the [reporter](https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/reporter.js) to send the step name

[2017-04-05 08:03] kariasbolster opened #51 "browser.call does not work?"
I used browser.call in my code to execute a promise and then i have a browser.url after after it to redirect to other page but what happens is that it executes the browser.url first then it executes the browser.call.

[2017-04-06 14:14] christian-bromann commented on #51
Without any informations like logs or code examples I can't say anything about this but it should work. `browser.call` is handled differently than in other framework adapters.

[2017-04-06 14:14] #51 closed

[2017-04-06 14:14] christian-bromann commented on #32
Closing due to inactivity.

[2017-04-06 14:14] #32 closed

[2017-04-18 21:35] imtiazhossain opened #52 "Error logs are not clear"
When running cucumber tests in webdriverio, the error logs do not tell me exactly what is wrong with the test. I just see "undefined"

F․․

0 passing (24.70s)
2 pending
1 failing

1) Verify test
undefined
running chrome
undefined

I'd like to see what is undefined.

[2017-04-18 22:08] christian-bromann commented on #52
@imtiazhossain how did that test fail? It seems that it didn't even start at all. Please provide more debug logs from Selenium and WebdriverIO

[2017-04-18 22:10] imtiazhossain commented on #52
@christian-bromann thanks for the quick reply. It failed because a selector couldn't be found but I had no idea what selector or which line until I searched for it.

[2017-04-18 22:13] christian-bromann commented on #52
Can you please provide a minimal reproducible example?

[2017-04-18 22:15] imtiazhossain commented on #52
The issue is that I'm not seeing any of the logs that cucumber provides using the 'dot' reporter. I don't see my steps or anything. I think it's because it shows dot reporting by default. Is there a way to turn this off? The console shouldn't just say 'undefined'. It should say what is undefined. Thanks

[2017-04-18 22:17] christian-bromann commented on #52
That is right but without having any code I can't guess why this is. Feel free to do some debugging 😉

[2017-04-20 23:54] imtiazhossain commented on #52
The code runs but when it fails, it doesn't tell me anything useful in the console. Attached is a screenshot. Thanks

![image](https://cloud.githubusercontent.com/assets/7926510/25257035/2199e192-2603-11e7-9142-c625cb32cf70.png)

[2017-04-21 00:02] christian-bromann commented on #52
What do your Selenium logs say?

[2017-05-03 15:42] Kignuf commented on #52
Hello, I just wanted to let you know I am having the same issue from time to time. No 100% reproducible scenario for the moment but if I figure it out I'll get back to this thread.

I'm using appium (android). When it occurs it's bound to a failure from appium. Running the exact same test immediately afterwards usually works. So it's not an error in the test but an error in appium & an error in cu

[2017-05-03 15:57] Kignuf opened #53 "Cannot OR tags when providing them through CLI"
Hello
I'm unable to ask cucumber to run features that have @tag1 OR @tag2 when providing the tags through CLI.

It seems that the tags I give are always split using the coma, which translates into AND for cucumber.

So the following
[code]

Is strictly equivalent to
[code]

When I print the config.cucumberOpts.tags object, in both cases I get
['@ios', '@android']

According to the doc, it should n

[2017-05-04 13:36] Kignuf commented on #53
Hello,
I've just tested it in cucumber js (using the [TuteCumber tutorial](https://github.com/denford/TuteCumber)) and it does work, but the way you do the AND is different

OR
[code]

AND
[code]

This won't work for wdio, an exception is thrown
[code]
-->
[code]

[2017-05-04 14:49] christian-bromann commented on #53
This can be fixed in `cli.js`

[2017-05-04 18:42] Kignuf commented on #53
Got it, I'll try to have a look tomorrow, thanks Christian.

[2017-05-05 10:17] #53 closed

[2017-05-09 14:57] rameshrengasamy opened #56 "When running cucumber tests with webdriverio not getting code snippets as how Cucumberjs splits on console"
Not sure if its not possible currently or if im doing something wrong.
I really liked how webdriverio works compared to selenium-webdriver. Im trying to use cucumberjs with webdriverio. I created a sample feature file and no step definitions. When i run using webdriverio config it just says as below but does not split the code skeleton snippets to console just how cucumberjs does. Could you help m

[2017-05-09 16:20] christian-bromann commented on #56
@rameshrengasamy I am afraid we don't get this information in WebdriverIO from cucumber so we can't display it :-/.

[2017-05-09 16:20] #56 closed

[2017-05-11 20:35] rameshrengasamy opened #57 "webdriverio with cucumber - code snippet for undefined steps not printing to console"
@christian-bromann First of all, I m sorry to bring up this back. Couldnt reopen the older issue. I know you replied to this in the other issue i created #56
But just thought to understand/get clear. Sorry again on first place.
So i see protractor cucumber framework (https://www.npmjs.com/package/protractor-cucumber-framework) does print the snippets to the console. So it must be getting that from

[2017-05-11 20:40] christian-bromann commented on #57
It is definitely useful so PRs welcome

[2017-05-25 20:34] megamindbrian commented on #39
Why do you need to use fibers in wdio?  I am getting this error too.

[2017-05-27 11:02] christian-bromann commented on #39
@megamindbrian fibers makes all commands synchronous and nice to use

[2017-05-29 14:58] batje commented on #9
My scenario is that I would like to pass in username & password dynamically, from the command prompt.  Then run the tests in Jenkins, using different baseURLs and username/password combinations.
And I dont like to commit passwords to source control.

[2017-05-29 15:00] christian-bromann commented on #9
@batje just pass in username and password as environment variables and use them in your test script

[2017-06-09 15:11] cheapsteak opened #61 "Possible to have steps not have to specify element vs inputfield?"
It seems unnecessary as whether the element is an inputfield should be inferable via an element's tagName

Unless I'm missing a caveat or edgecases

[2017-06-09 15:12] christian-bromann commented on #61
I don't understand your issue? What does this has to do with the framework adapter?

[2017-06-09 15:14] cheapsteak commented on #61
omg I'm so sorry, I posted to the wrong repo
Should have posted to https://github.com/webdriverio/cucumber-boilerplate

[2017-06-09 15:14] #61 closed

[2017-06-12 12:05] skadeglad opened #62 "Outdated build files"
Hello!

latest release solved `undefined error for reporting ` but `./build` folder in a package installed via `npm install wdio-cucumber-framework@0.3.1` still contains old build files, e.g.:

[code]
instead of:
[code]
inside `./build/reporter.js`

for now we need to manually build new version from `./lib` that is up-to-date

updating `./build` folder on npm would be much appreciated!

[2017-06-13 11:11] pscheit opened #63 "access world in afterStep()"
Hey there,

I got a problem to access the "world" instance from afterStep or other hooks. Is this possible?

best regards
Philipp

[2017-06-19 13:50] okrajni commented on #62
+1

[2017-06-30 08:30] aloksukhwal opened #64 "rerun failed scenarios"
I am using wdio-cucumber-framework for our project and want capability to re-run the failed scenarios completely instead of just re-trying the failed steps. Is there a way to do it? I have tried using cucumber option 'rerun' in webdriverio config, but it doesn't generate any rerun file.

Does this framework support it?
If yes, how to use it?
If not, is anyone working on it? If not, I can try to lo

[2017-06-30 09:59] christian-bromann commented on #64
Atm only retrying steps is possible

Not sure, don't think so

That would be awesome! We are about to upgrade to Cucumber v2 so make sure it works with that version.

Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for such question. This is not nece

[2017-06-30 09:59] #64 closed

[2017-07-10 08:40] SkadeGlad commented on #62
any chance for this being updated before `wdio-cucumber-framework@1.0.0` ?

[2017-07-19 16:45] #62 closed

[2017-08-02 18:38] thompsd3 opened #67 "Generating new session doesn't run methods that generate capabilities during initialization"
Wanted to test out webdriverio for a project I'm working on because I've found it very easy to use myself as well as potentially easier to maintain on a cross functional team of developers. What I have is an application that is a wrapper around a browser and some tests I'm trying to convert to use webdriverio. I've gotten most of the POC work done and last thing is to work out is concurrency.

In

[2017-08-02 19:18] christian-bromann commented on #67
No, the config is read once you start the test.

Just set a random number for each capability. Or use the beforeSession hook to set this unique cache id for each test individually.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questio

[2017-08-02 19:18] #67 closed

[2017-08-04 16:50] thompsd3 commented on #67
@christian-bromann thanks for the suggestion to "use the beforeSession hook to set this unique cache id for each test individually". That is what worked for us. And I will be sure to appropriately direct my questions in the future.

[2017-08-09 14:29] istana opened #68 "Cannot use v2 from Github"
I wanted to use version 2 from Github branch (for Cucumber 2.x support), but it cannot be loaded. The package is downloaded correctly to *node_modules*. (node: v6.11.2)

in package.json

[code]

[code]

[code]

Can you please point me to right direction?

[2017-08-09 16:28] christian-bromann commented on #68
We still haven't merged the changes from https://github.com/webdriverio/wdio-cucumber-framework/pull/60 that would allow to use Cucumber v2. Please have a little bit more patience.

[2017-08-09 16:28] #68 closed

[2017-08-10 08:45] istana commented on #68
oh, sorry, I didn't notice

[2017-08-11 14:34] jaysirju opened #69 "Why does handleBeforeScenarioEvent emit a 'suite:start' event?"
I'm prototyping a solution at the moment using Cucumber as the runner and Allure with the reporter.  I noticed that in the Allure Report, each step was recorded as a separate test case.

I took a look here, and was expecting `handleBeforeScenarioEvent` to emit a 'test:start' instead of a 'suite:start' event and for `handleBeforeStep` to emit 'runner:command' instead of a 'test:start, etc..   Is th

[2017-08-16 15:26] colinrotherham opened #70 "Compiler option (e.g. Babel) not working since v1.0.0"
Thanks for the *v1.0.0* update.

Unfortunately my required files are no longer being processed by Babel
i.e. `ERROR: Unexpected token import`

These options work in *v0.3.1* but not in *v1.0.0*.

[code]

Have there been any breaking config changes?

[2017-08-16 15:29] colinrotherham opened #71 "Require documentation incorrect since v1.0.0"
Referring to the documentation here:
https://github.com/webdriverio/wdio-cucumber-framework#require

It suggests I can require entire directories like this:

[code]

This works fine in *v0.3.1*.

But in *v1.0.0* it looks like Node's module resolution is now used, so the require paths have to be exact filenames or directories with an `index.js` or `package.json` file.

E.g.

[code]

Shall I open a

[2017-08-16 15:35] colinrotherham commented on #70
Under *v0.3.1* both `js:babel-register` and `js:babel-core/register` work as the compiler option.

[2017-08-17 07:25] lgandecki commented on #71
it's more of a lack of a feature I'd say, feel free to create a PR

[2017-08-17 07:25] lgandecki commented on #70
I think there is a PR for that, we will merge soon

[2017-08-17 07:56] christian-bromann commented on #70
see #72

[2017-08-17 07:56] #70 closed

[2017-08-18 15:42] colinrotherham commented on #71
Thanks for adding https://github.com/webdriverio/wdio-cucumber-framework/commit/562d2a37b841120ca9b9eeda4b8ac83c465f2b7a 👍

[2017-08-18 15:42] #71 closed

[2017-08-29 19:16] christian-bromann opened #74 "Include access to tags and examples in custom reporter"
_From @cnatis on August 29, 2017 19:14_

## The problem

I need to create a custom reporter to integrate WDIO test results with xray (a Jira plugin). My features and scenarios are tagged with IDs and my scenarios include examples, I want to be able to access the tags on a given spec as well as either the current example being used for a test and or the index and all the examples available for that

[2017-08-29 19:26] cnatis commented on #74
I took a look at the reporter code and it looks like we already have access to at least the tags, not sure about the examples. Why isn't this info emitted in the events?

[2017-08-29 19:31] christian-bromann commented on #74
@cnatis this has to be cucumber specific. WebdriverIO just runs your features in a cucumber environment. We don't implement anything Cucumber related. Also I am not an expert in Cucumber maybe if you look into the code of the wdio-cucumber-framework you will see a solution.

[2017-08-29 19:42] cnatis commented on #74
@christian-bromann im going to probably fork and open a PR to at least expose the tags, ill look into whats needed to get the example data after. What I am referencing is in the code below, we have the tag data on the featureOrScenario object (comes in from an event), that object might include the example data too, ill have to look more, but I was curious why the event object is never included in

[2017-08-29 20:16] christian-bromann commented on #74
Two reasons:
a. performance wise it is unwise to push to much data to the parent process (even though I don't have any proof that doing so actually degrades the performance)
b. all framework adapters need to emit a similar data structure so that all reporters work across different frameworks

I wouldn't mind to transport more data to the reporter in order to provide reporters with better data but

[2017-08-30 16:22] cnatis commented on #74
@christian-bromann I didnt get around to dealing with the examples just yet, I believe that will require modification of cucumber.js. However for now I have exposed the tags as I think they are important information for reporters to use.

https://github.com/webdriverio/wdio-cucumber-framework/pull/75

[2017-08-30 17:28] cnatis opened #76 "Cannot run tests"
Trying to run the tests using `npm run test` fails

[code]

[2017-08-30T17_24_10_902Z-debug.txt](https://github.com/webdriverio/wdio-cucumber-framework/files/1264488/2017-08-30T17_24_10_902Z-debug.txt)
[2017-08-30T17_24_10_972Z-debug.txt](https://github.com/webdriverio/wdio-cucumber-framework/files/1264490/2017-08-30T17_24_10_972Z-debug.txt)

[2017-08-30 17:37] christian-bromann commented on #76
Tried with a fresh install and wasn't able to reproduce this. It looks like a windows issue. As much as I would like to have this fix it doesn't bother me. I also don't use windows. I will close this issue because I am sure it has nothing to do with the setup of the test. I is probably some dependency issue.

[2017-08-30 17:37] #76 closed

[2017-08-30 17:37] christian-bromann commented on #74
Let's close this in favor of #75

[2017-08-30 17:37] #74 closed

[2017-09-12 11:32] dmaziar commented on #69
+1 to fix that

[2017-09-27 19:13] esclapes commented on #9
I am currently using cucumber profiles via cucumber cli and, as reported here, `cucumberOpts.profile` does not have any effect.

From quickly looking at the code we are passing options to `Cucumber.runtime` but I believe cucumber only loads the profile when using the cli and then passes the parsed options to the runtime.

I guess the underlying functions could be reused to support profiles here, b

[2017-09-27 21:19] christian-bromann commented on #9
Sure, happy to review the PR

[2017-09-30 17:43] AdenFlorian opened #78 "Allow specifying which scenario to run by line number"
Cucumberjs allows specifying a specific scenario to run by giving it the path to a feature file and the line number that the scenario is on: https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md

`$ cucumber.js features/my_feature.feature:3`

Would be nice if this framework had a cucumber option for specifying the line number.

This is helpful for setting up an IDE to run just the scenar

[2017-10-20 15:27] FlippieCoetser opened #79 "cucumberOpts.require: ['./stepsFolder'] produces module not found error"
[code]
When using the folder of the steps in the require section, and not the individual files, an error is produced: module not found.

Workaround solution: Add a helper at the top of the wdio.conf.js file

[code]
 With config

[code]

[2017-10-20 20:34] christian-bromann commented on #79
@FlippieCoetser this is by design (from cucumber.js). I would love to have support for globbing here and I am sure this can be implemented.

PRs welcome!

[2017-10-21 13:48] FlippieCoetser commented on #79
@christian-bromann, before I start helping develop a more permanent solution, here is the BDD spec to confirm the **current** and **expected** behavior:

**Background:**

Given `package.json` file exist
And `package.json` file contains devDependencies `"webdriverio": "^4.8.0"`
And `package.json` file contains script `"test": "wdio"`
And `wdio.conf.js` file does not exist
When I execute `npm test`

[2017-10-28 18:59] arunaousula9421 opened #80 "tagExpression doesn't allow to add more than one tag."
Hi, Below is my CucumberOptns where I am passing the tags to run specific tests

[code]
For Example, I have two feature files with tags **@login** and **@search**. If I add only one tag which is **@login** it spins up two instances where in one instance it doesn't run the tests and in the second instance it runs the tests for the **@login**. Actually it should spawn up  only one instance. As I hav

[2017-10-30 22:40] glenheide commented on #80
Have you tried using '@login or @search' yet?

I had to go through this recently. There's a small snippet in their [changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) under 2.0.0-rc.0 that explains the new format for their tag expressions.

[2017-10-31 11:45] arunaousula9421 commented on #80
@glenheide I have done all the things as they explained. But when I say tagExpression as '@login and @search' it skips both the features but launches the instances and doesn't run any tests. Similarly with '@login or @search'

[2017-11-03 15:40] vyacheslav-lonschakov opened #81 "stepResult.getAmbiguousStepDefinitions is not a function"
Hi, received this error in logs:
"stepResult.getAmbiguousStepDefinitions is not a function"

[2017-11-16 19:43] walternolasco commented on #79
Hello guys,
Can somebody please help me on the following:
I'm getting this error with the environment:
"devDependencies": {
    "cucumber": "^3.1.0",
    "wdio-cucumber-framework": "^1.0.2",
    "wdio-selenium-standalone-service": "0.0.9",
    "webdriverio": "^4.9.8"
  }

I've tried setting up the step definitions directory without globbing and I continue receiving the './stepsFolder'] produces mo

[2017-11-17 20:41] glaudiston opened #82 "Support for cucumber 3.1.0 with i18n"
I want to use cucumber feature files in my language (pt). Cucumber cli since 3.1.0 has support for i18n with the command line argument `--language=pt`.
I tried to change the cucumber version in `package.json` but it seems incompatible.

Can you provide any light on this?

firefox
Type    at setWorldConstructor (~/sources/comissaoGerentes/node_modules/wdio-cucumber-framework/node_modules/cucumber/l

[2017-11-18 21:56] FlippieCoetser commented on #79
@walternolasco you need to name the complete filename of the step file:

[code]
As a workaround to load several stepsfiles in a specific folder, I created a helper function:

[code]
which then allowed me to just add the newly generated array of filenames by just pointing to the array name.
[code]

[2017-11-19 16:43] Tallyb opened #83 "tsconfig project for typescript compiler in cucumber"
Allow specifying ts-node project file (tsconfig.json) when registering ts-node as compiler.
e.g. `ts:ts-node:./e2e/tsconfig.json`;

[2017-11-20 11:32] Tallyb commented on #83
OK - so the way to do it is set `TS_NODE_PROJECT` variable.
closing, but hope it will help others

[2017-11-20 11:32] #83 closed

[2017-11-22 04:16] walternolasco commented on #79
Thank you very much @FlippieCoetser Got it working now.  👍

[2017-11-24 10:20] FlippieCoetser opened #84 "npm test fail after npm install"
I intend to help tackle several of the open issues.
However, after `git clone` the repo and running `npm install` I attempted to run `npm test`, which fails.
See below:

![image](https://user-images.githubusercontent.com/3672126/33205917-e06763fa-d108-11e7-9e02-cce4ae06dcf0.png)

After spending several hours of troubleshooting, I still fail at getting `npm test` to run.
Can anyone help me?

If I c

[2017-11-24 12:52] FlippieCoetser commented on #84
can confirm, I am using a Windows machine.

[2017-11-29 10:29] rgustavsson opened #85 "Usage of tagExpression opens browser instances for tests that are not included in the tagExpression"
We have 10 feature files where 5 of them are tagged a '@smoke'.
When we run all '@smoke' feature tests only those 5 features are executed but 10 browsers are opened and closed.

For example:

:thumbsdown: Test 1: Not tagged with '@smoke'. A browser instance is opened and then immediately closed.

:thumbsup: Test 2: Test is tagged with '@smoke'. A browser instance is opened, test executed and then

[2017-11-29 10:38] christian-bromann commented on #85
Duplicate of webdriverio/webdriverio#1247

[2017-11-29 10:38] #85 closed

[2017-11-30 21:51] JEHAL81 opened #86 "print gherkin syntax Given, When, Then while running the steps in the console."
Print the Given, When, Then while running the steps in the console.

<img width="407" alt="screen shot 2017-11-30 at 21 49 08" src="https://user-images.githubusercontent.com/25979411/33456781-5a454ed0-d618-11e7-84bf-cd1c00bacacb.png">

Also, the User stories descriptions of a feature and feature tags.

[2017-12-01 09:50] christian-bromann commented on #86
This issue was moved to webdriverio/wdio-spec-reporter#67

[2017-12-01 09:50] #86 closed

[2017-12-01 09:51] christian-bromann commented on #86
I think you are talking about running Cucumber with the spec reporter. This is more an enhancement for the reporter as for the framework adapter. Feel free to propose a PR

[2017-12-01 14:37] SchwaFa commented on #70
We still get the error `ERROR: Unexpected token` import using _v1.0.2_ using

[code]

So has this really been fixed already??

[2017-12-01 14:56] colinrotherham commented on #70
@SchwaFa Are you on one of the newer Babel v7 betas?

They've changed `babel-register` to `@babel/register`.

Try this:

[code]

[2017-12-04 08:05] SchwaFa commented on #70
@colinrotherham No, we are not using Babel v7, still on 6.26

[2017-12-04 11:03] colinrotherham commented on #70
If you run `babel-register` manually and *require()* one of your files do you still get `ERROR: Unexpected token import`?

You'll need to work out if this is your Babel set up or `wdio-cucumber-framework`.

[2017-12-04 12:47] SchwaFa commented on #70
@colinrotherham It works fine when I manually run `babel-register`. So it seems to be a problem with the framework

[2017-12-04 15:34] JeremyAtEverwise commented on #81
I got this error when I reused the same step definition in both my When and Then files. The step name was being used globally, so I had to change the step wording so I could call a step in my When or Then file without triggering this error.

[2017-12-15 17:42] devth commented on #10
Referencing the directory doesn't work for me. Gives:

[code]

[2017-12-31 11:15] #81 closed

[2018-01-24 18:07] michaelHicks commented on #69
+1 for the fix

[2018-01-25 16:30] dannyjhall commented on #69
Each test (step) needs to have the feature and story labels set for it so the allure reporter can group them correctly.

I have added #91 to include the properties in the event emitter and webdriverio/wdio-allure-reporter#87 to add the labels.

[2018-01-29 09:44] nicangeli commented on #79
I think this is closed by #90?

[2018-01-29 12:24] nicangeli commented on #84
I think this is a git bash thing not properly handling single quotes.

@FlippieCoetser if you change the npm:test in package.json to:
[code]

Likewise for the coverage command.

@christian-bromann If this is something you'd like to support I can make a PR

[2018-01-29 17:27] christian-bromann commented on #84
please do, thanks!

[2018-01-29 17:33] christian-bromann commented on #79
thanks @nicangeli

[2018-01-29 17:33] #79 closed

[2018-01-29 18:00] #84 closed

[2018-01-31 08:13] DevSide opened #94 "Steps cannot use callbacks"
Wrapping steps which use callbacks instead of returning promises leads to this cucumber error:
"function uses multiple asynchronous interfaces: callback and promise"

This is causing by the setDefinitionFunctionWrapper which always returns a promise.

[2018-01-31 18:23] christian-bromann commented on #94
@DevSide can you provide more details on which package versions you are using, maybe a reproducible example would be ideal.

[2018-01-31 23:19] johanvaniperen commented on #57
I added a reporter for this, wdio-cucumber-snippet-reporter.
So, if you want to take a look. That 'll be nice :-)

[2018-01-31 23:22] christian-bromann commented on #57
Awesome 👍

[2018-01-31 23:22] #57 closed

[2018-02-01 18:50] DevSide commented on #94
Yes ! Here is a step which failed:
[code]

[2018-02-01 18:55] christian-bromann commented on #94
@DevSide yes, so since you can use promises you can't use callback anymore which are not needed.

[2018-02-01 18:55] #94 closed

[2018-02-02 14:13] DevSide commented on #94
Not needed ? Promise api doesn't replace callback api :smile: .
You should document that _callbacks are not supported_.

[2018-02-02 18:30] christian-bromann commented on #94
You think? I don't know why you would want to use callbacks if promises are supported.

Would you mind open a PR?

[2018-02-02 21:30] osmolyar commented on #68
Which version of cucumber are we supposed to be using now?

[2018-02-02 23:54] istana commented on #68
@osmolyar try my configuration if it works:

[code]

I don't use *webdriverio-cucumber-js*.

[2018-02-05 18:07] osmolyar commented on #68
Thank you very much for the input.  I tried it with the below in package.json, on a clean installation, installing everything locally or globally, and in either case I still get the error "ERROR: Couldn't load "wdio-cucumber-framework" framework. You need to install it with `$ npm install wdio-cucumber-framework`!"

 "dependencies": {
    "Faker": "^0.7.2",
    "colors": "^1.1.2",
    "download-fi

[2018-02-07 12:11] istana commented on #68
That's unusual behavior. Here are some steps that might help. Some are basic, but just to be sure.

- `yarn install` or `npm install` after package.json was changed
- run webdriver binary from node_modules `./node_modules/.bin/wdio wdio.conf.js`
- remove *node_modules* directory and run `yarn install` again
- last resort - remove *node_modules* directory and lock file - `yarn.lock` and run `yarn i

[2018-02-07 16:07] osmolyar commented on #68
@istana, thanks, it finally worked after uninstalling everything locally and globally and deleting node_modules, and installing the relevant modules globally.  (Though it still doesn't seem to be recognizing my step_definitions folder from Cucumber require opts.)

[2018-02-12 13:50] espekkaya opened #95 "Support for cucumber 4.0.0"
Hello,

Last version was relased. Upgrading wdio-cucumber-framework to cucumber 4.0.0 is good to everyone.

[2018-02-12 13:52] christian-bromann commented on #95
@espekkaya I agree, feel free to propose a PR

[2018-02-13 19:06] michaelHicks commented on #69
@jaysirju, did https://github.com/webdriverio/wdio-cucumber-framework/pull/91 resolve your issue? It did not for me so I'm just curious if it's something on my end..

[2018-03-01 16:06] charlierudolph opened #96 "cucumber integration question"
I'm one of the maintainers for cucumber-js and am curious about the architecture of this project. Why exactly does this repo have its own formatter instead of using the built in ones in cucumber?

Also, are there any API changes to cucumber that would could be made in support of this plugin?

[2018-03-06 05:58] amolebhojane opened #97 "wdio-cucumber-framework : how can i Multiple scenarios from single feature file ?"
how i can run multiple scenarios from single feature files.. requirement is after successful scenario execution browser should closed automatically and for next scenarios it should open again and execute

[2018-03-06 12:32] christian-bromann commented on #97
I think this is not possible. There can be only one Scenario per feature file. Please create multiple feature files which then will be run in parallel. If you have further questions join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2018-03-06 12:32] #97 closed

[2018-03-07 13:24] amolebhojane commented on #97
Thanks @christian-bromann for your quick help..  is there any way to mark scenario with tagnames and execute it which i want..
eg.

there are 4 scenarios with tag names @one, @two, @three, @four..  if i want to execute scenarios with tag names @one and @three..  how can i achieve it?

I have tried using --cucumberOpts.tags="@one,@three"  but it is executing all the scenarios from feature file.

th

[2018-03-07 14:44] christian-bromann commented on #97
scenarios in feature files are basically spec files which you can define when running the wdio command, e.g.
[code]

[2018-03-08 10:54] amolebhojane commented on #97
@christian-bromann  Thanks .   i have single  feature file which has following four scenarios.. in normal wedriver-cucumber we can achieve these specifiying tagname **--cucumberOpts.tags="@one,@three"**
feature file:
  -scenario one
  -scenario two
  -scenario three
  -scenario four

if i want to run only scenario two and three .. is it possible here?

[2018-03-08 11:07] christian-bromann commented on #97
Sure:
[code]

[2018-03-13 08:40] janardanb commented on #97
Thanks @christian-bromann for your help.

but i observed that empty browser  opens for each feature file with no tests targeted??  is it bug or do i miss something??

[2018-03-13 12:15] christian-bromann commented on #97
It is a known bug

[2018-03-16 15:12] rbardini opened #99 "Update stack-chain dependency to 2.0.0"
[`cucumber`](https://github.com/cucumber/cucumber-js) currently uses `stack-chain@2.0.0`, while `wdio-cucumber-framework` uses `stack-chain@1.3.7`. This difference can cause _"Conflicting version of stack-chain found."_ errors in [some cases](https://github.com/AndreasMadsen/stack-chain/blob/master/index.js#L10), for example when running WebdriverIO with [`esm`](https://github.com/standard-things/

[2018-03-16 15:38] christian-bromann commented on #99
@rbardini would you mind creating a PR?

[2018-03-17 10:54] dmitriy-ddr opened #100 "Cannot find module step-definitions"
Good afternoon, I ran into a popular problem when the cucumber does not see the step description files. I saw a lot of reports about this, but there was not described how to solve this problem.
wdio version is 4.12.0
wdio-cucumber-framework 1.1.0
cucumber-js version is 2.3.1
I add the cucumber module with wdio config

log:
C:\Users\node\Desktop\AT\1603>node_modules\.bin\wdio wdio.conf.js

ERROR: C

[2018-03-17 14:46] christian-bromann commented on #100
@dmitriy-ddr you need to define the file not the directory. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-03-17 14:46] #100 closed

[2018-03-18 14:29] christian-bromann commented on #99
Ok, closing then

[2018-03-18 14:29] #99 closed

[2018-03-19 23:17] stones opened #101 "SnippetSyntax example"
Hey guys,

Does anyone have an example of snippet syntax?

I can't for the life of me get it to work.

[2018-03-19 23:21] christian-bromann commented on #101
I am not a cucumber expert but is that supported in cucumber 2?

[2018-03-23 13:25] javacoldbrew opened #103 "Generating a cucumber json file"
Is it possible to generate a cucumber json file with this framework that includes which tests fail/pass?

For example in cucumber, you could simply do:

"cucumber-js ./tests/features -r ./tests/steps -f json:./reports/cucumber/cucumber_report.json"

[2018-03-23 21:30] christian-bromann commented on #103
@javacoldbrew you can use the [wdio-json-reporter](https://www.npmjs.com/package/wdio-json-reporter) for this. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-03-23 21:30] #103 closed

[2018-03-23 23:08] Miladinho commented on #96
@christian-bromann

Can you offer some insight into this issue?

[2018-03-23 23:13] christian-bromann commented on #96
What do you mean by that? We can't support Cucumber build in reporters because WebdriverIO comes with own reporters that are specialised for e2e tests (they include session ids and capability information).

Maybe. I know that we were not able to update cucumber because of some breaking changes. I wasn't able yet to figure these out. I think #88 kicked of some initial work on it.

[2018-03-28 14:00] #95 closed

[2018-03-28 15:01] #96 closed

[2018-03-28 15:02] christian-bromann commented on #96
@charlierudolph we just updated the wdio-cucumber-framework to support the latest cucumber-js version. Let me know if you have any more qesutions. Also, you can find me in our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2018-03-28 15:03] christian-bromann commented on #101
Closing due to inactivity.

[2018-03-28 15:03] #101 closed

[2018-03-28 15:06] christian-bromann commented on #69
This is the correct behavior. A scenario in BDD is like a suite in TDD. If this is causing issues with the Allure reporter we should look into that.

[2018-03-28 15:06] #69 closed

[2018-03-28 15:06] christian-bromann commented on #82
Fixed by #104

[2018-03-28 15:06] #82 closed

[2018-03-28 15:08] christian-bromann commented on #9
We just updated to latest cucumber-js version, can someone check if this issues is fixed by that?

[2018-03-28 15:09] christian-bromann commented on #52
Closing due to inactivity

[2018-03-28 15:09] #52 closed

[2018-03-28 15:10] christian-bromann commented on #26
@timbru31 is this still a valid issue with latest cucumber-js?

[2018-03-28 15:25] Kignuf commented on #52
This is fixed by https://github.com/webdriverio/wdio-cucumber-framework/pull/59

[2018-03-28 16:28] BorisOsipov opened #105 "Reporters fails on running cucumber before\after hooks"
After update to `wdio-cucumber 2.0.0` version.

If there are cucumber tests with hooks reporters fails with an error.
[code]

Error apprears because cucumber emits `testStepStartedEvent` for before\after hooks as well as for steps.
In such a case reporting works wrong.
Sample repo for reproducing issue https://github.com/BorisOsipov/wdio-cucumber4-issue

/cc @mhoyer

[2018-03-28 19:48] timbru31 commented on #26
I can't answer this question, since I'm not using cucumber-js currently.

[2018-03-28 20:02] christian-bromann commented on #26
ok, let's close this then. Happy to reopen if someone has the same issue with the latest updates.

[2018-03-28 20:02] #26 closed

[2018-03-29 17:50] AdenFlorian opened #106 "Allow retrying at Scenario level"
I see that retries for individual steps are supported, and I think retrying of Scenarios would also be beneficial (particularly for a project that I'm working on).

# Proposal
New number config option called **numberOfTimesToRetryFailedScenario**.
When set to 0, it does what it currently does (fail the first time it fails).
When set to 1, and a Scenario fails on the first try, that Scenario will b

[2018-03-29 17:54] christian-bromann commented on #106
I guess this can be a useful feature, feel free to propose a PR

[2018-03-31 11:14] JEHAL981 opened #107 "Error: Expr.chartAt is not a function"
I updated wdio-cucumber-framework  to 2.0.0 when I execute my test I get the following message. I have current cucumber.js installed (4.1.0).
[code]
![screen shot 2018-03-31 at 12 10 12](https://user-images.githubusercontent.com/35871107/38162651-f09afbdc-34dc-11e8-8ab3-1d3daed87515.png)

[2018-03-31 11:49] BorisOsipov commented on #107
What is your cucumber opts? Especially tags.
Please share with us.

On Sat, 31 Mar 2018, 14:14 James Halls, <notifications@github.com> wrote:

[2018-03-31 11:59] JEHAL981 commented on #107
Thanks for your help @BorisOsipov

Happy Easter!

`cucumberOpts: {
        require: [
            './features/step_definitions/HomePageStepDefs.js',
            './features/step_definitions/LoginPageStepDefs.js.js'

        ],
        backtrace: false,
        compiler: ['js:babel-core/register'],
        dryRun: false,
        failFast: false,
        format: ['pretty'],
        colors: true,

[2018-03-31 13:46] BorisOsipov commented on #107
`tags` should be a [tag expression](https://docs.cucumber.io/tag-expressions/)

try to change `['@chasers', '@complete']` to '@chasers and @complete'

Happy Easter!

[2018-03-31 15:14] christian-bromann commented on #107
Yep, this has updated with the cucumber update. We probably need to update the readme. Will create a separate issue for this.

[2018-03-31 15:14] #107 closed

[2018-03-31 20:41] BorisOsipov commented on #105
Just FIY.

I went deep into this issue and realized that is not so easy to fix cucumber hooks bugs.
I'd like to recommend people how met this issue use wdio before\after hooks instead of cucumbers hooks.

[2018-04-01 06:16] mhoyer commented on #105
@BorisOsipov, I'm going to check it too the next days.

[2018-04-02 03:25] ezwanharun opened #108 "scenario fail status method doesn't work for afterScenario hook"
Hi all,
Currently I tried to taking a screenshots if my test was failed. However the afterScenario hook seem like doesn't able to identify which test is failed and passed. Below was my dependencies that I used:

    "wdio-cucumber-framework": "^2.0.0",
    "cucumber": "^4.0.0",

   afterScenario: function afterScenario(results) {
        if (results.status === "failed") {
            browser.saveS

[2018-04-02 08:18] ezwanharun commented on #108
I noticed that `afterScenario` hook doesn't contained results status value compared to `afterSteps` as below:

`  status: 'passed'`

This caused screenshot functionality for that specific scenario been taken several times if the test is been failed in the middle or beginning of the steps. Suggesting to add this config to `afterScenario`.

[2018-04-02 08:26] BorisOsipov commented on #108
`"wdio-cucumber-framework": "^1.1.0",` is it correct? can you try to update to `2.0.0`

[2018-04-02 08:36] ezwanharun commented on #108
I'm using `2.0.0` release

[2018-04-02 15:54] osmolyar opened #109 "No way to overload step definitions to expect a data table or not"
It appears that with wdio-cucumber-framework, it is not possible to create overloaded step definitions, such that one step definition expects a 'table' argument, and one does not.

Eg, we cannot for example define a step to use only default input options vs. one that takes data from a table as seen below.  If both of the below steps are defined, a runtime error saying the step definitions are ambi

[2018-04-02 16:05] BorisOsipov commented on #109
The matching is done on the regular expression only, without any
reference to the number of arguments that the step definition method
take.

It is not a bug in wdio-cucumber-framework.
You may ask in [cucumber-js ](https://github.com/cucumber/cucumber-js) repo for additional explanation.

[2018-04-02 16:05] #109 closed

[2018-04-03 11:54] #105 closed

[2018-04-04 10:31] acuper opened #111 "Scenario Outline is not working"
Versions:
webdriverio@4.12.0
wdio-cucumber-framework@2.0.0

Sample scenario:
[code]

Error:
[code]

[2018-04-06 09:47] ringods opened #112 "Still failure in cucumber before/after hooks reporters"
@BorisOsipov I have created a reproducible case regarding this problem:

https://github.com/BorisOsipov/wdio-cucumber-framework/commit/bb9fc367754629347c5fbac8d9780b929bc8cf40#r28434074

Here is a branch I prepared:

https://github.com/ringods/webdriverIO-with-cucumberBDD/tree/wdio-cucumber

Note: I replaced/remove the `Scenario Outline` by normal `Scenario` to not be bitten by #111 .

[2018-04-06 10:41] BorisOsipov commented on #112
Thanks man.

It reproduces on 2.0.0 as well.

[2018-04-06 10:52] ringods commented on #112
Let me know if you need me to test possible fixes.

[2018-04-06 11:02] BorisOsipov opened #113 "Wdio-cucumber-framework 2.0.x is broken"
There are basic things that doesn't work at all in spite of the fact that travis build is green.
E.g.:
https://github.com/webdriverio/wdio-cucumber-framework/issues/108
https://github.com/webdriverio/wdio-cucumber-framework/issues/111
https://github.com/webdriverio/wdio-cucumber-framework/issues/112

I can't call such version `production ready`.
It causes to fail users test after update and imposs

[2018-04-06 20:19] jonsmithers opened #114 "Stacktrace when using Background in cucumber"
[code]

Feature:

[code]

I took some screencaps will debugging which I think might point to the source of the problem. It tries to fetch index 2 (`testStepStartedEvent.index`) from an array of length 2 `scenario.steps`, so `scenario.steps[testStepStartedEvent.index]` obviously returns `undefined`. I think this happens because it assumes all the steps are inside the scenario and doesn't account fo

[2018-04-06 20:39] jonsmithers commented on #113
As someone who got burned by an issue in 2.0 (i.e. #114), I think I agree. I'm glad I saw this and thought to revert to 1.1.1.

[2018-04-07 05:57] BorisOsipov commented on #114
duplicate of https://github.com/webdriverio/wdio-cucumber-framework/issues/112

[2018-04-07 05:57] #114 closed

[2018-04-08 10:13] mailkrish opened #115 "Wdio-cucumber framework unable to match feature steps with step definitions"
I have clearly written step definitions for sample steps to keep it simple in my project. (No regular expressions)
wdio version : 4.12.0 + wdio-cucumber-framework@2.0.1 + cucumber@4.1.0
**For some reason , cucumber is not able to match the steps with step definitions.**
 I keep getting the same error saying :
_**1) Get the title of webpage6 I go to the website abc:
Step "I go to the website abc" i

[2018-04-08 13:09] BorisOsipov commented on #115
@mailkrish thank for pointing this issue.
may I ask you to create git repo for reproducing the bug? It will be easier to reproduce\fix\test

you can fork my simple repo and add your changes https://github.com/BorisOsipov/wdio-cucumber4-issue

[2018-04-08 15:28] mailkrish commented on #115
@BorisOsipov
I have created a new repo for this project. Please refer it here
https://github.com/mailkrish/wdio-cucumber-sample.git

Thanks for your reply

[2018-04-11 20:30] vladgolubev opened #116 "Cucumber 4.2.1 fails due to the new "order" option, but 4.1.0 works"
Hey, just installed the https://github.com/webdriverio/cucumber-boilerplate and it fails due to error

<details>
<summary>Expand stack trace</summary>

[code]
</details>

If you check [cucumber changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md#420-2018-04-03) for version 4.2.0 there is a new option `order` now required to pass into [getTestCasesFromFilesystem](https://git

[2018-04-11 20:32] christian-bromann commented on #116
@vladgolubev feel free to propose a PR

[2018-04-12 13:40] swissmanu commented on #116
will take care of it

[2018-04-13 13:07] Xotabu4 commented on #116
I overriden cucumber version in package-lock for a while:

[code]

[2018-04-16 15:24] RenanChagas opened #118 "Not able to start wdio.conf.js"
Here is the log from terminal
Obs.: Using version 2.0.1

[code]

[2018-04-16 15:29] BorisOsipov commented on #118
@RenanChagas you need to use `babel` if you want use ES6 modules.

See example setup in https://github.com/webdriverio/cucumber-boilerplate

[2018-04-16 15:29] #118 closed

[2018-04-17 01:16] Nibblesh commented on #116
For anyone looking for a temp workaround until this is accepted,

if you're using yarn, you can add this to the package.json

[code]

[2018-04-17 09:13] #116 closed

[2018-04-17 13:34] RenanChagas opened #119 "ste_definition - Module not found"
Hi Everyone,

I'm trying to add cucumberJS to my react project but I keep getting this error when I try to run a feature.

[code]

**Here is my wdio.conf.js**

[code]

[2018-04-17 14:08] #119 closed

[2018-04-17 14:10] RenanChagas opened #120 "ERROR: Cannot read property 'split' of undefined chrome Type"
Hi Everyone,

Im trying to run a step-definition but i keep getting this error:

[code]

**Here is my wdio.conf.js**
[code]

[2018-04-17 14:12] BorisOsipov commented on #116
@christian-bromann can you release a new version with fix for this issue?

[2018-04-17 14:17] RenanChagas commented on #116
@BorisOsipov  Hi Boris, Sorry I didnt understand how to fix this issue

What should I do ?

[2018-04-17 14:31] RenanChagas commented on #116
Thanks for the quick reply @BorisOsipov
Do you know what version can I downgrade on "yarn.lock" so I can run my steps files while the error is being fixed in the released version ?

[2018-04-17 14:33] BorisOsipov commented on #116
@RenanChagas  you can downgrade `cucumber` version to
`"cucumber": "4.1.0"`

[2018-04-17 14:43] vladgolubev commented on #116
@RenanChagas  for yarn use https://yarnpkg.com/en/docs/selective-version-resolutions#search

[2018-04-17 15:01] RenanChagas commented on #116
I deleted the "node_modules" and "yarn.lock" and it still getting the same error

**package.json**

[2018-04-17 15:16] vladgolubev commented on #116
@RenanChagas you have a typo

It's `resolutions` not `resolution`

[2018-04-17 19:56] krzywiecki commented on #111
Hi guys, any update on that? I also have the same issue when I try to run Scenario Outline. Everything works fine with normal Scenarios.

[2018-04-17 19:57] RenanChagas commented on #116
@vladgolubev thank you, but unfortunetely I'm still getting the same error :(

Can anyone help me ? I dont know what else can it be.

`https://github.com/RenanChagas/my-app.git`

[2018-04-17 21:09] christian-bromann commented on #111
No, but feel free to propose a PR with a fix

[2018-04-18 08:46] vladgolubev commented on #116
@RenanChagas hmmm, now you downgraded to version 2, and when I try to run your repo locally I get this

![image](https://user-images.githubusercontent.com/3817380/38921308-18aef32e-42fe-11e8-99bb-c6cf79028bf9.png)

Maybe you forgot to push some latest changes? Can you please update your example to make it run?

[2018-04-18 08:48] BorisOsipov commented on #116
@RenanChagas update to wdio-cucumber-framework `2.1.0` - it fixes your issue.

[2018-04-18 09:50] RenanChagas commented on #116
Thank you @vladgolubev and @BorisOsipov !!!

[2018-04-19 08:00] elasim opened #121 "step definition files should be watched"
Currently, this framework is supported feature files only.
it also should have to watch change of step definition files.

[2018-04-19 08:49] christian-bromann commented on #121
@elasim feel free to propose a PR

[2018-04-19 11:27] BorisOsipov commented on #115
@machnicki

Wdio-cucumber-framework uses cucumberjs v4 and you need to declare your step definitions like described in [cucumber docs](https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/step_definitions.md)

E.g. for your sample:
[code]

[2018-04-19 11:27] #115 closed

[2018-04-25 23:49] Nibblesh commented on #116
@RenanChagas

for future reference, here's where you went wrong on the package json

Working package.json below
[code]

as the issue was caused by the cucumber dependency in the wdio-cucumber-framework, we need to tell yarn to use version 4.1 when referenced by wdio-cucumber-framework

[2018-04-26 06:03] RenanChagas commented on #116
Thank you @Nibblesh

[2018-04-30 16:08] apollomusa opened #122 "Loading module using an alias path"
In my `webpack.config.js` I have the following alias path defined:

[code]

In my `steps` directory, each step file I import the `.page.` files as:

[code]

Which work with no linting errors (ie: module not found)

But when running my tests I receive the following errors:

[code]
Am I missing something on my separate `wdio` config maybe to resolve these paths?

[2018-05-02 11:00] christian-bromann commented on #122
Not sure how this is related to WebdriverIO. If you want to use next gen javascript follow [this guide](http://webdriver.io/guide/getstarted/configuration.html#Setup-Babel-to-write-tests-using-next-generation-JavaScript). Also, join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badg

[2018-05-02 11:00] #122 closed

[2018-05-14 12:30] ringods opened #124 "`Cannot read property 'ELEMENT' of null` when using page objects in hooks."
Context:
- webdriverio 4.12.0
- wdio-cucumber-framework 1.1.1 (can't use v2.x because of #112)

Is the `browser` object fully initialized when running a `beforeFeature` hook function? I have this in my wdio config file:
[code]
The `loginHook` function is called for every feature to have a logged in application session. The only feature where this hook is not used is the login feature itself. The `

[2018-05-14 12:53] ringods commented on #112
@BorisOsipov together with someone else, we did some further testing. The `undefined` in the reporter hook happens for steps in a `Background` section. If you put the `Given` step directly in the `Scenario`, the reporter hook doesn't fail.

Hope this helps to fix this issue.

[2018-05-14 13:01] BorisOsipov commented on #124
@ringods can you share `loginHook` code?

[2018-05-14 13:07] frankie8518 commented on #112
Thanks your further testing.  I just fell into the same issue, and it worked after I removed `Background`...

[2018-05-14 13:13] ringods commented on #124
Hook function:
[code]

Login PageObject:
[code]

And I repeat: this login pageobject works correctly when I use it *during* a test of the login feature. When invoking it via the `loginHook` function during `beforeFeature`, I get errors.

[2018-05-14 13:30] BorisOsipov commented on #124
no ideas. I can make advice to try cucumber hooks -
https://github.com/cucumber/cucumber-js/blob/2.x/docs/support_files/hooks.md#tagged-hooks

[2018-05-14 13:42] ringods commented on #124
@BorisOsipov I migrated from these hooks to the wdio documented cucumber hooks because I thought that the normal cucumber tagged hooks did not have the "correct" integration.

[2018-05-14 13:43] christian-bromann commented on #124
@ringods can you provide the driver logs?

[2018-05-14 13:53] ringods commented on #124
Not helpful I guess. The only content after a `wdio` run in file `webdriver-log.txt` is this:

[code]

That's all.

[2018-05-16 13:44] goofballLogic commented on #112
Looks like this is still open after all then? What do you need in terms of "help wanted" ?

[2018-05-16 13:46] christian-bromann commented on #112
Someone who fixes the bug and proposes a PR 😉

[2018-05-16 13:50] goofballLogic commented on #112
fair 'nuff lets see how bored i get later today

[2018-05-16 18:45] goofballLogic commented on #112
@ringods I've put in a pull request which I believe should fix this (does for me locally) - would welcome a test by 3rd party

[2018-05-17 08:52] ringods commented on #112
@goofballLogic after fighting with `pyenv` and `python` to get `node-gyp` installed, I tried to run your patched version, but all I get is this:

[code]

This is in my `devDependencies` though:

[code]

[2018-05-17 08:54] christian-bromann commented on #112
@ringods if you define a dependency like this it won't be compiled. You need to go into the node_modules folder and npm install and build the project

[2018-05-17 08:58] ringods commented on #112
Excuse me??? Unbelievable....

@christian-bromann could you help me out what I'm still missing? I went into `node_modules/wdio-cucumber-framework` and ran `npm install`. But still, after doing this, I remain getting the `Cannot find module` error on my main project when running `npm test`

[2018-05-17 08:59] christian-bromann commented on #112
What do you mean by that, I was just trying to help!

You also need to build the project

[2018-05-17 09:06] ringods commented on #112
This wasn't aimed at you. Sorry if you interpreted it like that. 😉
I am disappointed in the status of development tooling in general and frustrated due to that. Already struggling for days to get some wdio stuff working. In this case, I was just expecting that an `npm install` would do the same things whether I specify a version or a git location.

Can you tell me what I need to do to build the pr

[2018-05-17 09:11] christian-bromann commented on #112
Go into the package directory and run `npm run build`. Usually this is already done when you download packages from NPM. If you set a git url as dependency source you will only get the raw project files.

I feel like the status of tooling is great, probably just a bit different if you come from another ecosystem.

Have you heard about the WebdriverIO support channel on [![Gitter](https://badges.gi

[2018-05-26 20:05] brokenmass opened #128 "npm release"
can you please release on npm, even as `@next` tag, the latest code from master ?

[2018-05-27 11:44] christian-bromann commented on #128
We have to get #126 merged first for the next release

[2018-05-27 11:44] #128 closed

[2018-05-28 14:07] motycka opened #129 "All scenarios start at once"
Hello, I have recently upgraded to version 2.x and with that upgrade, my scenarios are now starting all in parallel and it appears they run in the same browser window. This does not seem OK to me, since every cucumber scenario should establish it's own, independent context.

Example feature file:
[code]

log:
[code]

Is it a setup thing, or a bug?

This was last OK in version 1.1.1

[2018-05-28 14:49] christian-bromann commented on #129
@motycka please describe how do you run webdriverio? Are you using wdio testrunner? What are you package versions?

[2018-05-29 07:50] motycka commented on #129
@christian-bromann yes, `wdio` test runner, I believe.

[code]

[2018-05-29 21:58] devth commented on #107
Was an issue created to track this? I couldn't find it but maybe I missed it.

[2018-06-05 10:41] NastaNe opened #130 "All steps in feature is assign to last scenario"
Hello, I recently updated to 2.0.1 version and run into this problem. My steps of features is all assigned to one scenario. And when using for example allure framework I am receiving unknown results for all others scenario.

The example feature file:
`
Feature: Test'
  Scenario: First
     Given Customer "test4fd3413@test.com"
      When Login to site
      Then Name is right

  Scenario: Second

[2018-06-05 17:35] markmssd commented on #80
I am having the same issue... @arunaousula9421 have you found a solution?

[2018-06-05 18:16] BorisOsipov commented on #80
@markmssd you can use workaround

in your wdio.conf you can manually filter specs with your tags like that:

[code]

[2018-06-05 18:51] markmssd commented on #80
It works, thanks a lot @BorisOsipov! 🎉

[2018-06-05 19:15] markmssd commented on #80
Right, if we use the regex `content.match(/(^@\w+)/g)` instead (note the `^`), it should handle tags only

[2018-06-05 19:19] BorisOsipov commented on #80
@markmssd yep :)

[2018-06-07 19:39] venkatteshb commented on #80
const { TagExpressionParser } = require('cucumber-tag-expressions');
const glob = require('glob');

const featuresPath = './src/features/**/*.feature';
const tagParser = new TagExpressionParser();

const featureFilesWithTags = (featuresPath, cucumberTags) => {
  const expressionNode = tagParser.parse(cucumberTags);
  const featureFilesHaveTags = glob.sync(featuresPath).filter((featureFile) => {

[2018-06-07 19:41] BorisOsipov commented on #80
yes

чт, 7 июн. 2018 г. в 22:39, Venkat Rao <notifications@github.com>:

--

--
Best Regards,
Boris Osipov

[2018-06-14 18:57] harishkalaiselvan commented on #107
Can you let me know the status on this issue?

[2018-06-14 19:00] BorisOsipov commented on #107
@devth @harishkalaiselvan there is no issue.

see my comment on https://github.com/webdriverio/wdio-cucumber-framework/issues/107#issuecomment-377694195

[2018-06-15 10:27] davidrova opened #131 "Error filtering tags using cucumberOpts in command line"
Hi,

I'm using webdriverio v4.12.0, trying to filter tags using the command line.

There is a problem in the cli.js and in wdio.conf.js because the cli converts tags in an array of strings.

An array of strings cause an exception in runtime.
`ERROR: expr.charAt is not a function
firefox
Type    at tokenize (.....tag_expression_parser.js:87:20)
 `

If you use a string instead an array it works.

Ki

[2018-06-15 10:30] BorisOsipov commented on #131
How your cli command looks like?

пт, 15 июн. 2018 г. в 13:27, davidrova <notifications@github.com>:

--

--
Best Regards,
Boris Osipov

[2018-06-15 20:43] davidrova commented on #131
Hi Boris,

./node_modules/.bin/wdio --env dev --cucumberOpts.tags '@comments'
./e2e/wdio.conf.js

My wdio.conf.js

//
// If you are using Cucumber you need to specify the location of your step
definitions.
cucumberOpts: {
require: ['./e2e/lib/steps/initiatives.js'], // <string[]> (file/dir)
require files before executing features
backtrace: false, // <boolean> show full backtrace for errors
compil

[2018-06-15 21:37] BorisOsipov commented on #131
I didn't go deep into this issue but understood what was happening and may suggest workaround
run
CUCUMBER_TAGS="@comments" ./node_modules/.bin/wdio --env dev ./e2e/wdio.conf.js

and replace in your wdio config
`tags: []` to `tags: process.env.CUCUMBER_TAGS || ""`

[2018-06-16 08:02] davidrova commented on #131
That sounds good. It is similar to my workaround.

Thanks!

On Fri, 15 Jun 2018 at 23:37, Boris Osipov <notifications@github.com> wrote:

--

Saludos,

---------------------------------
David Rodríguez Vallejo
blog: http://globeros-mtb.blogspot.com

[2018-06-19 13:46] christian-bromann commented on #131
I think these cli args need to properly parsed into arrays. I think this is a bug.

[2018-06-19 14:38] davidrova commented on #131
+1

On Tue, 19 Jun 2018 at 15:46, Christian Bromann <notifications@github.com>
wrote:

--

Saludos,

---------------------------------
David Rodríguez Vallejo
blog: http://globeros-mtb.blogspot.com

[2018-06-26 10:56] gasparnagy opened #132 "tagExpression vs tags for scenario filtering"
The Cucumber.js CLI API has been using the `--tagExpression` option to filter the scenarios to be executed.

The API has been changed (in v4?), and it is using the more clean (?) `--tags` option for the same filtering. (see https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md#tags)

The `wdio-cucumber-framework` has been using a similar option (`tagExpression`) for the filtering that ha

[2018-06-27 14:10] deepikadixitb commented on #64
Is there any update on this issue?

[2018-06-27 14:12] deepikadixitb commented on #106
I am really looking forward to this feature. please update once it is there.

[2018-06-27 18:38] christian-bromann commented on #106
@deepikadixitb please provide a PR

[2018-07-03 08:00] wswebcreation opened #133 "Not all cucumber data is added to the reporter"
When using CucumberJS standalone you can get an very comprehensive JSON report containing more info than `wdio-cucumber-framework` is providing.

I miss for example the following data when I try to build my own reporter:

- The `Given|When|Then` keywords
- feature descriptions
- datatable data

The data itself can be retrieved from the reporter with for example the following feature

[code]
When I

[2018-07-03 14:31] wswebcreation commented on #133
**Status update:**
Started with the initial setup. Reporter is already adjusted, now need to add some tests and make a PR, see https://github.com/wswebcreation/wdio-cucumber-framework/blob/feature/enrich-reporter/lib/reporter.js

[2018-07-04 02:51] AbinashB opened #134 "Scenario outline is not working after scenario"
if a feature file contains Scenario outline first then scenario it is working fine, But reverse one not working.

Working fine:
feature:
     scenario:
     scenario outline:

Not working:
feature:
     scenario outline:
     scenario:

logs: ERROR: Parser errors:
(9:9): expected: #EOF, #Comment, #BackgroundLine, #TagLine, #ScenarioLine, #ScenarioOutlineLine, #Empty, got "my step"

[2018-07-04 09:24] christian-bromann commented on #134
@AbinashB this is more an issue with cucumber-js. This package doesn't parse the feature file in any way.

[2018-07-04 09:24] #134 closed

[2018-07-04 12:52] chrisahardie opened #135 "Using a Background throws error"
I have the following working test:

[code]

I want to re-use the first three steps, so I create a background:

[code]

I now get this error in my output:

[code]

The test is still passing, I'm just getting that `ERROR: Cannot read property 'type' of undefined` message now. Also appears like subsequent scenarios are skipped.

Deps:

[code]

Thanks for this great tool!

[2018-07-04 19:35] wswebcreation commented on #135
Hmm, saw this also when I was making a PR for reporting. Will check the coming days if I can find the issue

[2018-07-05 06:53] Lilly2016 commented on #111
I'm getting the same error when I run Scenario Outline.
`ERROR: Cannot read property 'steps' of undefined`

Is there a config or a syntax to use to avoid this issue?

[2018-07-05 17:15] ezwanharun commented on #130
i was also facing the same issue...with all the latest version

[2018-07-09 04:44] faceleg commented on #111
This does not seem fixed, I'm getting the same issue as @Lilly2016 with the following:

[code]

[2018-07-10 14:15] oflorko commented on #130
Hi,
I am experiencing the same issue with dependencies:
"allure-commandline": "^2.5.0",
"cucumber": "^4.2.1",
"wdio-allure-reporter": "0.6.2",
"wdio-cucumber-framework": "^2.1.0",
"webdriverio": "^4.12.0"

Dummy scenario:
[code]

<img width="1258" alt="screen shot 2018-07-10 at 16 13 35" src="https://user-images.githubusercontent.com/15916200/42515573-5c3d42a4-845c-11e8-9994-9e11b545d66d.png">

[2018-07-12 15:01] anilkoithara commented on #111
yes its not fixed I think, I am having the same issue .

ERROR: Cannot read property 'steps' of undefined
chrome

[2018-07-12 20:44] walternolasco commented on #111
Hi,
Does anybody have a workaround to make it work meanwhile it is getting fixed?

Thanks!

[2018-07-19 05:02] wswebcreation commented on #133
This has been fixed with https://github.com/webdriverio/wdio-cucumber-framework/pull/136 and released in version `2.2.0`

[2018-07-19 05:02] #133 closed

[2018-07-23 08:52] wswebcreation commented on #108
Don't think this is an issue. Since cucumber 3 or 4 they changed the `scenarioResult`, this should work

[code]

To check it just log the `scenarioResult`

[2018-07-24 18:07] veoh1989 commented on #135
Any update on this issue? I'm having the same errors when attempting to use ```Background```

[2018-07-25 13:48] wswebcreation commented on #135
@Rob-Meijeren , you kick ass man, tnx

[2018-07-26 05:44] wswebcreation commented on #108
@BorisOsipov and @ezwanharun

I've checked it and the `scenarioResult ` will return this

[code]

Meaning you need to check `scenarioResult.result.status` to get the status. This was for as far I can see a breaking change in CucumberJS 3, so not an issue in this `wdio-cucumber-framework` and thus this issue could be closed

[2018-07-26 05:48] BorisOsipov commented on #108
@wswebcreation Thanks for your help in investigating this issue!

[2018-07-26 05:48] #108 closed

[2018-07-26 05:49] wswebcreation commented on #113
@BorisOsipov @christian-bromann

I think all issues are gone if PR https://github.com/webdriverio/wdio-cucumber-framework/pull/137 will be merged. I already provided feedback on the PR.

I also know that V5 is also coming out soon, but I wonder if we can still merge the PR and bring out a new release for people who still want to use webdriver.io V4 with the latest version of this module.

Tnx for

[2018-07-26 05:50] wswebcreation commented on #121
@elasim
What do you exactly mean with

it also should have to watch change of step definition files.

[2018-07-26 06:03] wswebcreation commented on #124
@ringods

Just checking, first of all, did you already fixed this? If not, I was just wondering the following. Where to you open the page, is that also in the `LoginPage`, because the browser object should already be initialised there, but maybe not with the url.

[2018-07-26 06:05] wswebcreation commented on #129
@motycka

Is this problem already solved for you? And if not, can you please provide some more info like your step implementation.

[2018-07-26 06:55] wswebcreation commented on #121
hmm, ok,

According to the docs the watch mode in webdriver.io only watches spec files, which are the feature files in case of using CucumberJS. If you also want to watch on the step files `config.cucumberOpts.require` needs to be watched to. As far as my knowledge of webdriver.io and wdio-cucumber-framework now reaches it needs to be a change and thus a PR on both modules.

[2018-07-26 17:39] petrosbountis opened #138 "Reporting issues after 2.2.1 version"
**// Description**
While executing a feature file (or a set of feature files) steps appear to be missing in some scenarios and also steps from other scenarios are been displayed to the terminal via spec reporter

**// Project**
cucumber-boilerplate

**// Environment**
MacOS 10.13.6

**// Affects Version**
wdio-cucumber-framework@2.2.1

**// Actual Behaviour**
- Missing scenario steps from the repo

[2018-07-26 19:09] christian-bromann commented on #138
@Rob-Meijeren can you take a look?

[2018-07-26 20:11] Rob-Meijeren commented on #138
I just checked and indeed it happens with the 2.2.1. This is probably due to the change I made in how the steps are passed to the reporter.

just for the record a good example is elementVisibility.feature in the boilerplate.

I will take a closer look tomorrow to see how we can fix this but I already have some idea for it. Namely adding a check in getStepFromFeature to check if we are processing a

[2018-07-27 10:49] christian-bromann commented on #138
Let's continue convo in #139

[2018-07-27 10:49] #138 closed

[2018-07-29 14:38] Tallyb opened #140 "Wrong steps reporting in 2.2.1"
=> Bug report.
Using spec reporter.
Assume my feature is as follow:
[code]
The reporting will report for the subsequent steps starting from the top (with the correct number of steps). So the reporting will look like:
[code]
2.2.0 does not have the problem.

[2018-07-29 19:29] Rob-Meijeren commented on #140
There is currently a pull request open to fix this #139

[2018-07-29 22:11] #140 closed

[2018-07-30 11:54] ringods commented on #124
@wswebcreation this is not fixed yet.

The latest code for `LoginPage` reads this:

[code]

Base `Page` class contains this:

[code]

I still get this error with `wdio-cucumber-framework` v2.2.1. If you know how to get this fixed, I would be very grateful! 😉

[2018-07-31 12:37] woolter commented on #130
The problem here is the order in which the messages are sent.

All steps are assigned to the last, becuse  ```"event": "suite:start",``` are send together and after all steps

V1.1.1
[code]
V2.2.2
[code]

[2018-07-31 20:07] osmolyar commented on #50
@BrandonDBrown , were you able to create a custom json wdio reporter for cucumber that would at least roll up the status of each Scenario based on the states of its steps ('tests', according to the default json reporter)?

[2018-08-01 11:44] Rob-Meijeren commented on #135
@BorisOsipov @christian-bromann with version 2.2.2 this should be fixed. So this can be closed?

[2018-08-01 11:55] christian-bromann commented on #135
Yes! Thanks!

[2018-08-01 11:55] #135 closed

[2018-08-05 18:05] Bsunny commented on #115
@BorisOsipov

I followed what you mentioned i.e
`const {Given, Then, When} = require('cucumber');`

Still i am getting same error as mentioned

`Step "I go to the website abc" is not defined. You can ignore this error by setting
cucumberOpts.ignoreUndefinedDefinitions as true.
running chrome
undefined:undefined`

Please assist.

[2018-08-06 07:42] Bsunny commented on #115
[webdriverio_proj.zip](https://github.com/webdriverio/wdio-cucumber-framework/files/2261577/webdriverio_proj.zip)

@BorisOsipov i have uploaded the project in zip. Please find it attached.

[2018-08-06 08:37] pactera-testing-PanRenping opened #141 "[SOS]The version of 'wdio-sync'' package is old, the hook function 'AfterStep' misses args!"
The version  of 'wdio-sync'' package is old.
There are three args, "hook", "step " and "result", when hookRunning.js invokes executeHooksWithArgs in wdio-cucumber-framework.
`return _get__('executeHooksWithArgs')(this.config.afterStep, step, result);`  //Line 67

But in old wdio-sync package:
`var executeHooksWithArgs = function executeHooksWithArgs() {
    var hooks = arguments.length > 0 && argu

[2018-08-06 08:43] BorisOsipov commented on #115
@Bsunny please read my comments carefully.
You not only need to use
`const {Given, Then, When} = require('cucumber');`

but write your steps

Given('I go to the website abc',() => {
    browser.url("http://www.google.com");
});

and not
[code]

[2018-08-06 08:49] BorisOsipov commented on #141
We use "wdio-sync@0.7.1" in package.json. It is latest version. Check your other dependencies and find how get older version.

[2018-08-06 08:54] Bsunny commented on #115
Thanks @BorisOsipov for your help. It worked finally.

[2018-08-06 09:04] pactera-testing-PanRenping commented on #141
Hi, @BorisOsipov
Thank you for replay, but the problem missing argument is still exsit, I think...

[2018-08-06 12:56] BorisOsipov commented on #141
@pactera-testing-PanRenping Or maybe describe the issue you ran into, causes you to start investigating wdio-sync\cucumber internals

[2018-08-07 03:41] pactera-testing-PanRenping commented on #141
Hi @BorisOsipov,
Sorry for my late reply.
I did a test on my local.
1. Download the project *git@github.com:webdriverio/cucumber-boilerplate.git*
2. yard install
3. Realize a function in *wdio.conf.js* file
`afterStep: (step, result) => {
     console.log('Result: ' +result);
      ...
},`
4. Then run the test.
I expect a result of step executed, but the value of the result is undefined, so I try

[2018-08-13 13:02] filfreire opened #142 "Scenario outline reporting behaviour missing example values and indentation issues"
I have reasons to believe that both the indentation and the printing of parameters in each scenario outline execution is not working properly and affects reporters like `spec` for the latest version of wdio-cucumber-framework (`2.2.2`).

Taking into account this issue https://github.com/wswebcreation/wdio-multiple-cucumber-html-reporter/issues/7 and also as a follow-up to issue https://github.com/

[2018-08-14 09:57] christian-bromann commented on #142
@woolter are you sure it is the same? This looks more like an issue with the spec reporter

[2018-08-14 10:02] BorisOsipov commented on #142
@christian-bromann I am almost sure it is wdio-cucumber v2 issue. It reports suited:start events in strange order

[2018-08-14 11:09] filfreire commented on #142
@woolter @BorisOsipov @christian-bromann
This is different from issue #129. My issue is with scenario outlines and I have no issues with parallel test execution, because i've setup the test config to run 1 scenario at a time sequentially.

The bigger problem with this issue besides the indentation of each scenario outline execution on `spec` reporter, is that, independently of the reporter you use

[2018-08-15 05:07] woolter commented on #142
@BorisOsipov @christian-bromann @filfreire
Yes, I'm sure. The issue is with wdio-cucumber-framework, no with spec, if you use allure is the same problem as you can see in [#|30](https://github.com/webdriverio/wdio-cucumber-framework/issues/130)

[2018-08-15 15:33] id4automation commented on #80
@BorisOsipov thanks for the snippet. It works , but it opens multiple browser instances (equal to the number of features file). Only one feature file has the tag I intend to run. Is there a way to restrict the browser instance to open only one?

[2018-08-15 23:31] kapilchokhawala opened #144 "With latest version, it runs all scenario in the feature file, instead of the specific one"
I am providing a specific tag for a specific scenario but all the test cases in the feature file are getting executed.

It was working fine before the upgrade and then when I went back to the version I had 2.1.0 it works fine.

[2018-08-16 01:15] kapilchokhawala opened #145 "All steps pass but returns with "errored after 14 min" error."
I am running my test case using Gulp, Webdriver IO, Cucumber JS.

All my steps are passing but only this (check attached image)

![screen shot 2018-08-15 at 6 06 57 pm](https://user-images.githubusercontent.com/1270533/44181313-0bf68f00-a0b6-11e8-8f56-d3e0f2c0fad7.png)

[2018-08-16 07:32] christian-bromann commented on #145
@kapilchokhawala do you have a reproducible example?

[2018-08-20 06:00] wswebcreation commented on #142
Regarding the missing of the example values I have the following. Below is based on the following Scenario Outline

[code]

When I look at the `cucumberEventListener.js` file there is a `onPickleAccepted` that holds a `scenario`. When I look at the scenario it will already have the correct example values in it, see below

[code]

When I look at the rest of the events where scenario's are retrieved

[2018-08-24 14:35] #142 closed

[2018-08-28 14:13] obender opened #148 "Can't Install on Redhat NPM install fails"
When I run
npm i wdio-cucumber-framework

Linux Version:
Linux tavdtrh6as2 2.6.32-642.el6.x86_64 #1 SMP Tue May 10 17:27:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Red Hat Enterprise Linux Server release 6.5 (Santiago)

I get the error below:
[as2user@tavdtrh6as2 ui]$ npm i wdio-cucumber-framework

make: Entering directory `/home/as2user/p4/main/apimcommon/ui/node_modules/fibers/build'
  CXX(targe

[2018-08-28 14:17] BorisOsipov commented on #148
It's not wdio-cucumber issue.
In the error log
[code]
Or find how to install on Redhat in node-gyp docs.

[2018-08-28 14:17] #148 closed

[2018-08-28 16:18] obender commented on #148
Yes but it's you using this fibers lib as your dependency

[2018-08-29 11:27] christian-bromann commented on #148
You need `nodejs/node-gyp` to install Fibers which is a dependency of wdio-cucumber-framework. In v5 this is not required anymore but for v4 just make sure you support `node-gyp`

[2018-08-31 08:44] obender commented on #148
I had managed to resolve it, i just removed gcc , using `sudo yum remove gcc`

[2018-08-31 08:55] woolter commented on #144
@kapilchokhawala Have you try the last version?

[2018-08-31 10:11] woolter commented on #129
We can close this issue.
It was solve with https://github.com/webdriverio/wdio-cucumber-framework/pull/147

[2018-08-31 10:16] woolter opened #149 "Less information in afterStep - stepResult"
Hi!

In 1.1.1 in afterStep in stepResult I get all this information:

`StepResult {
  attachments: [],
  duration: 1692,
  step:
   Step {
     arguments: [],
     line: 4,
     name: 'I open the url "https://www.google.com/"',
     scenario:
      Scenario {
        feature: [Object],
        keyword: 'Scenario',
        lines: [Array],
        name: 'GOOGLE',
        tags: [],
        uri: '/Use

[2018-08-31 10:17] BorisOsipov commented on #129
Yes. Thanks @woolter

[2018-08-31 10:17] #129 closed

[2018-08-31 15:04] woolter commented on #149
@christian-bromann @BorisOsipov I was able to add more information to **stepResult** now locally i have this information:
`{ type: 'Step',
  location: { line: 4, column: 5 },
  keyword: 'Given ',
  text: 'I open the url "https://www.google.com/"',
  argument: undefined,
  feature: 'SEARCH TOOLS ONE',
  scenario: 'GOOGLE',
  status: 'passed' }`

Al least is all the information that I was using from

[2018-09-03 07:11] woolter commented on #149
@christian-bromann done! https://github.com/webdriverio/wdio-cucumber-framework/pull/150

[2018-09-03 07:35] BorisOsipov commented on #149
Fixed in https://github.com/webdriverio/wdio-cucumber-framework/pull/150

[2018-09-03 07:35] #149 closed

[2018-09-04 11:09] woolter opened #151 "Wrong execution order in afterStep/afterScenario"
With this configuration
[code]

[code]

[code]

I hope to obtain this:
[code]
But sometimes I obtain this:
with image created
[code]
And sometimes this:
without create image
[code]

[2018-09-04 12:48] christian-bromann commented on #141
The last release contained an update to the wdio-sync package.

[2018-09-04 12:48] #141 closed

[2018-09-18 06:33] #113 closed

[2018-09-21 20:44] hackeryarn commented on #70
@colinrotherham thanks for the link it seems to be a problem with `babel` 6 and the newest version of this framework. I am able to run the starter you linkd.

[2018-10-14 12:02] kasyed245 opened #152 "Screenshot is not being attached to the Failed Scenario"
I am new in wdio and trying to explore different frameworks. I have been working on wdio-cucumber-framework lately and facing this issue. Kindly help me in this matter
**Issue :>** Whenever I try to run my cucumber tests along with allure reports (in sync mode), it doesn't attach the Screenshot to the right failed step in the allure xml file (and hence in the allure reports) [even it is happening

[2018-10-19 11:12] kasyed245 commented on #152
I found the solution here
[code]
You need to copy following code in separate file in step folder (like hooks.js) and commented out all the After hooks in the conf.js file
[code]
And now you'll find both Allure `report` or `wdio-multiple-cucumber-html-reporter` working fine.

[2018-10-25 08:06] michasko opened #153 "Doesn't build properly on Node11"

[2018-10-25 08:35] christian-bromann commented on #153
Thanks I will make sure to update the dependency

[2018-10-26 06:42] kapilchokhawala commented on #44
I am still getting this error.

[code]
This are the version of packages I have
{
     "cucumber": "^5.0.2",
     "selenium-standalone": "^6.15.3",
    "wdio-cucumber-framework": "^2.2.7",
    "wdio-json-reporter": "^0.4.0",
    "wdio-multiple-cucumber-html-reporter": "^0.3.2",
    "wdio-selenium-standalone-service": "0.0.10",
    "webdriverio": "^4.14.0"
}

[2018-11-03 23:12] malliapi opened #154 "How to use setWorldConstructor"
I am wondering where the file with setWorldConstructor must be specified in order to work in conjunction with wdio-cucumber-framework?

I do not see an option for this file to be provided and i tried including it in the `require` key with no luck

[2018-11-03 23:17] malliapi commented on #154
my bad this is indeed working

[2018-11-03 23:17] #154 closed

[2018-11-06 13:12] christian-bromann commented on #78
Fixed by webdriverio/webdriverio#3019

[2018-11-06 13:12] #78 closed

[2018-11-14 00:10] gaurist opened #155 "how to access uri from beforeFeature() after version 1.1.1"

[2018-11-14 06:32] wswebcreation commented on #155
Hi @gaurist

Can you please provide more information like:
- Which version of wdio-cucumber-framework you are on
- have you tried to debug the response from the beforeFeature

Have you also checked the CucumberJS docs. They changed a lot in the structure of the response of CucumberJS.

[2018-11-14 06:51] gaurist commented on #155
Hi @wswebcreation : wdio-cucumber-framework : 2.2.8 , following is the response from beforeFeature.
with version 1.1.0, uri was included in the response.
`{
   "type":"Feature",
   "tags":[

   ],
   "location":{
      "line":1,
      "column":1
   },
   "language":"en",
   "keyword":"Feature",
   "name":"Testing feature file path",
   "children":[
      {
         "type":"ScenarioOutline",

[2018-12-07 10:35] NaveenThiyagarajan commented on #151
@christian-bromann This is the issue i was talking about in ticket https://github.com/webdriverio/webdriverio/issues/3074
The issue is seen in the latest `wdio-cucumber-framework`.

This issue is not in the version `wdio-cucumber-framework: 1.0.3`. I have a project and confirmed.

I have created a sample git project for you to reproduce the isuse:
https://github.com/NaveenThiyagarajan/wdio_cuke_ho

[2018-12-07 10:38] BorisOsipov commented on #151
@NaveenThiyagarajan see my comment in https://github.com/webdriverio/webdriverio/issues/3068#issuecomment-444011064

it will help you.

[2018-12-07 10:43] NaveenThiyagarajan commented on #151
Thanks @BorisOsipov I tried using the cucumber default hooks

[code]
... But the allure-reporter was acting up weird with that .. :( it was showing skipped tests as `passed`.

[2018-12-07 11:21] BorisOsipov commented on #151
I haven't seen such issue in allure repo...

[2018-12-07 19:44] NaveenThiyagarajan commented on #151
Ok .. I got it.. It fixed once i moved to `0.8.3` allure-reporter. Thank you.. good for now.

[2018-12-08 17:09] #151 closed

[2018-12-12 21:11] mareru opened #156 "Can you get tags from configuration file in beforeScenario function"
Hello,
is there a way to get the tags from configuration file test.conf.js that are set in the attribute:
[code]
in function `beforeScenario`?

[2018-12-12 21:36] christian-bromann commented on #156
Try `browser.config.cucumberOpts.tags`.

[2018-12-12 21:36] #156 closed

[2018-12-17 13:19] mareru commented on #156
It was `browser.options.cucumberOpts.tags`. But thanks for the tip :)

[2018-12-18 14:14] AlinaVasylieva opened #157 "Skipped scenarios - if one fails the rest got skipped"
Hey guys!
Currently faced the situation that if one of the scenarios fails the ongoing scenarios in the same feature file are skipped.

Using:
"wdio-cucumber-framework": "^1.1.0",
 "webdriverio": "^4.13.2"

 I have looked through all possible documentation, but haven't found any solution, nor the proof that this kind of behaviour is normal, could you please advise? Have you faced this before?

[2018-12-18 14:20] BorisOsipov commented on #157
no. Can you share some example repo on github? Also some logs how it looks like will be helpful

[2018-12-19 12:17] AlinaVasylieva commented on #157
@BorisOsipov  I will try to prepare the example solution and provide log! Thanks for taking a look!

@woolter I have tried your versions - same situation with the slight difference!
Before setting up your versions statically if one scenario was failing the ongoing one was not even stated for execution, thus for example  as the result I see - 13 passed, 1 failed, 3 pending, even though, I have the

[2018-12-19 19:38] woolter commented on #157
Yes the second scenario should be executed by default

@AlinaVasylieva  can you share your cucumberOpts?
[code]

[2018-12-20 09:09] AlinaVasylieva commented on #157
@woolter
Here're mine:

[code]

[2018-12-20 09:10] BorisOsipov commented on #157
@AlinaVasylieva set `failFast: false` and try again.

[2018-12-20 09:42] AlinaVasylieva commented on #157
@BorisOsipov worked! Thank you s much guys for your help!
@woolter

[2018-12-20 09:43] BorisOsipov commented on #157
Ok close then

[2018-12-20 09:43] #157 closed

[2018-12-21 10:12] meskis commented on #154
How did you solve it? Care about sharing? :)

[2018-12-28 10:30] xiscocapllonch opened #158 ""Error in onReload hook" using reload method on update framework version"
I'm using WebDriverIO and cucumber with the test runner to run tests that need an special clean scenario environment without old cookies or session storages.

I was using the "browser.reload()" method in the "beforeScenario" function without any problem for the next set of versions:

`
"cucumber": "4.2.1",
"wdio-cucumber-framework": "1.1.1",
"webdriverio": "4.13.0"
`

When I updated the wdio-cucum

[2019-01-07 13:54] lasektom opened #159 "Running scenarios with line number throw "file not found" error"
Recently I have updated webdriver and its dependencies to newer versions that according to documentation allows running specific scenario by specifying line number. More on the fix here: https://github.com/webdriverio/wdio-cucumber-framework/issues/78
Unfortunately that does not work for me. After running the following command:
[code]
I recieve the following error

[code]

The path of the feature

[2019-01-07 14:01] BorisOsipov commented on #159
@lasektom are there global wdio package installed? check by `npm -g ls | grep webdriverio`

[2019-01-07 14:17] lasektom commented on #159
Thanks for coming back to me so quickly.

No, there are none. That command's result is pretty much nothing. Should I try installing webdriverio globally?

[2019-01-07 14:19] BorisOsipov commented on #159
No. just check that you don't have global wdio packages

Can you show full stacktrace?

[2019-01-07 14:23] lasektom commented on #159
That's the problem, there is none. I was trying to debug it on my own but with this level of information I could not get far hence this issue.

Here's all I have outputted in the terminal:
[code]

[2019-01-07 14:37] bogdancalmutchi commented on #80
Is there any way to make this work with tags at Scenario level?

[2019-01-07 14:59] BorisOsipov commented on #159
Hi @hjagodzinski, can you help us with this?

[2019-01-07 15:01] BorisOsipov commented on #159
As I see path like '/app/bdd/features/example.feature:7' passed to `Cucumber.getTestCasesFromFilesystem()` and obviously cucumber can't find it on fs. Or I miss smth

[2019-01-07 15:04] lasektom commented on #159
It is seems that's what is happening. I have debugged (console.log) the ConfigParser and it seems it returns path including the line number. I don't know if that was intended or not.
Once again the path (excluding the line number) is correct on fs.

[2019-01-07 17:39] hjagodzinski commented on #159
Hi @BorisOsipov, @lasektom

The intention was to pass a path with scenario number through ConfigParser. It worked for me as I expected because cucumber supports specifying scenario as a part of file path.

I suspect the issue steams from the different versions of wdio-cucumber-framework/cucumber I used and @lasektom is using. Of course, specifying scenario should still work in this case.

Without

[2019-01-07 17:41] lasektom commented on #159
Hi, @hjagodzinski can you specify what versions of wdio-cucumber-framework/cucumber you used?

[2019-01-07 17:50] hjagodzinski commented on #159
The project I was testing this change with has the following dependencies:

wdio-cucumber-framework: 0.3.1.
cucumber: 1.3.1

Pretty old releases.

[2019-01-07 17:52] BorisOsipov commented on #159
@hjagodzinski thanks for explaining. Now the issue is clear - need to make it works for wdio-cucumber-framework\cucumber 4.x versions

[2019-01-07 17:54] lasektom commented on #159
@hjagodzinski @BorisOsipov thanks guys!

[2019-01-07 17:55] hjagodzinski commented on #159
👍

[2019-01-09 09:12] xiscocapllonch commented on #158
Someone?

[2019-01-11 17:08] BorisOsipov commented on #158
@xiscocapllonch please share repo with reproducible example, I will try to help

[2019-01-14 13:30] BorisOsipov commented on #158
@xiscocapllonch didn't get what is happened. Workaraund move `browser.reload()` to cucumber hook.
E.g see patch https://gist.github.com/BorisOsipov/2755ee4e121d2628f71b6f5750405225

[2019-01-14 13:36] BorisOsipov commented on #158
Also if you use `sync:true` you don't need async\await e.g `await browser.waitForExist('#bbcprivacy-continue-button')`

[2019-01-21 13:42] ckurban commented on #80
@BorisOsipov In earlier version of the `wdio-cucumber-framework` I used to use below written line :
`let cucumberTags = browser.options.cucumberOpts.tagExpression.filter((tags) => {return tags.startsWith('@')});`

After upgrading my `wdio-cucumber-framework` to version 2.2.8 - `filter` does not work, is there any other function such as `filter` that I can use `browser.options.cucumberOpts.tagExpre

[2019-01-21 13:52] BorisOsipov commented on #80
Use `cucumber-tag-expressions` for properly parcing tagExpression.

[2019-01-21 14:41] ckurban commented on #80
It seems to not able to handle `and` and `not` operators. Is there any way to `skip` the `negate condition such as `not` as some of my scenarios have `@defect` on them ?

[2019-01-21 14:49] BorisOsipov commented on #80
how do you use it?

[2019-01-21 14:50] BorisOsipov commented on #80
It works. Cucumber uses `cucumber-tag-expressions` internally for working with tags.

[2019-01-21 14:54] ckurban commented on #80
Here how I use it :

[code]

[2019-01-21 15:00] BorisOsipov commented on #80
And why do you decided that is not work? You just print `' ===== TAGS  =====', expressionNode);`  in console...

[2019-01-21 15:07] ckurban commented on #80
Well, I am trying to read all `tags` and assign the right value to my next statement:
[code]

[2019-01-21 15:16] BorisOsipov commented on #80
[code]
smth like this?

[2019-01-21 18:46] ckurban commented on #80
@BorisOsipov me again, I know it is not related to this thread and if needed i will create separate issue but when I  am trying to set my test data to `global` in my `before` hook and it seems, it does not read the `json` file - all other `.js` files are OK.

Here is my code :
[code]

Any help appreciated ?

[2019-01-21 18:52] BorisOsipov commented on #80
@ckurban please when you write "seems it doesn't work", "it seems, it does not read" in issues explain what you expect and what happened then. It is hard to guess what do you mean by "it does not read", any errors\failed checks?

[2019-01-21 19:09] ckurban commented on #80
@BorisOsipov I am trying to set test data to `global.envconfig` object and when I am trying to use any data from `envconfig` such as `envConfig.url.webservicesEndpoint` it throws `ERROR: Cannot read property 'url' of undefined`

It was working before my upgrade where I was able to retrieve the url and endpoints from the global envConfig object.

Does that make sense ?

[2019-01-21 19:13] BorisOsipov commented on #80
@ckurban Not sure what is going on but I guess this will help

[code]

[2019-01-21 21:49] ckurban commented on #80
@BorisOsipov I am keep getting this error:

[code]

[2019-01-21 23:36] ckurban opened #160 "before hook is not executed in wdio.conf.js"
**Libraries - package.json:**

[code]

**wdio.conf.js :**

[code]

**Same setup works fine on below written stack :**

[code]

 **Output:**

[code]

[2019-01-23 17:14] jonn-set opened #162 "tags at Example causing exception"
I am using `wdio-cucumber-framework` with `cucumber 4` and have seen that passing tag expression that includes tags at `Example` level is not getting filtered, instead it end up throwing an exception.

If I pass a tag expression of `@F1 and @Sc01 and @ex01`, it will throw the below exception:

### Error
[code]

### My feature file
[code]
If I remove the `@ex01` tag then it will work and the test r

[2019-01-24 14:54] jonn-set commented on #162
I have fix for this but I can push the fix to this repo. Can you allow me to push, I am pushing to a separate branch, not master.

[2019-01-30 14:38] osmolyar opened #164 "'Socket hang up' errors occur consistently (but intermittently on different tests/steps) after 8-11 scenarios in a wdio-cucumber-framework feature file"
The following 'socket hang up' error occurs on different steps starting on the 8th to 11th scenario in a given feature file, where the previous scenarios, usually with the same sequence of steps as the failing one, run fine. Up until last November, all were running fine and passing, for ~1yr.

The subsequent 4 tests also fail with 'socket hang up', while the following few tests will fail with erro

[2019-03-07 13:43] hjagodzinski commented on #159
@lasektom @BorisOsipov I've created pull request #165 resolving the issue.

[2019-03-14 06:51] QA2Dev opened #166 "Unable to get Scenario result in cucumber hooks afterScenario"
Unable to get Scenario result in cucumber hooks afterScenario

    afterScenario: function (scenario) {
        console.log('<<< TESTING  scenarioResult >>>'+scenario.status);
    }

    "wdio-cucumber-framework": "^2.2.8",

[2019-03-20 09:08] spujar opened #167 "On step timeout neither the onError hook nor the step retries work"
When step times out, onError hook nor the step retries work. The time is happening because of selenium not able to find the element. Below is the error captured, but we want to capture screenshots and also do a step retry

`Error: function timed out, ensure the promise resolves within 90000 milliseconds
    at Timeout._onTimeout (/build/node_modules/wdio-cucumber-framework/node_modules/cucumber/sr

[2019-03-25 10:18] jonn-set commented on #162
Hi, its been 2 months, appreciate you guys are busy but can someone have a look at this merge request please?

[2019-03-25 11:23] BorisOsipov commented on #162
@jonn-set would you mind add unit test for this?

[2019-03-25 20:56] jonn-set commented on #162
@BorisOsipov, sure, will do.

I ran through the existing tests and was wondering if there's a way to check that the right number of scenarios have been picked up using CucumberAdapter. It looks like all the tests call run function to execute the tests, which only return 0 or 1, is there something else that I can use as I don't really need to run the whole test, just make sure the right scenarios a

[2019-03-26 21:22] BorisOsipov commented on #162
@jonn-set I am not ready to drive deep into current testing suite. I would like to have corresponding test at least to make sure we won't have regression in future with this fix

[2019-03-26 23:09] jonn-set commented on #162
@BorisOsipov I have added some unit tests, have a look and if you are happy with it, please merge.

Thank you

[2019-03-27 06:45] #162 closed

[2019-03-27 06:49] #159 closed

[2019-03-27 16:58] jonn-set commented on #162
@BorisOsipov, thanks for merging, when will this be released?

[2019-03-27 17:32] BorisOsipov commented on #162
@christian-bromann ping

[2019-04-02 06:02] espekkaya opened #168 "When will wdio-cucumber-framework migrate wdio V4 to V5?"
Hello,
I want to use wdio V5 insted of v4. Is there any progress to migrate wdio V4 to V5?

Thank you in advance.

[2019-04-02 07:55] christian-bromann commented on #168
@espekkaya yes, there is a PR https://github.com/webdriverio/webdriverio/pull/3667 .. if you have interest in this, please get involved.

[2019-04-02 07:55] #168 closed, assigned to nobody

[2019-04-16 04:54] kapilchokhawala commented on #144
@woolter no I haven't tried. I will give it a shot again in few days. If it works that would be best thing for organizing my test scenarios as thing are getting bit complicated. I will update once I try. Thanks mate.

[2019-04-16 21:27] worc opened #169 "globbing in --spec causes "more than one config file specified" error"
if i set a globbed spec `./src/**/*.feature` in the config file or specify a single file through the cli `./src/login.feature` tests run just fine:

[code]

or

[code]

 but if i use a glob in the cli option, the glob expands correctly, but the cli prints its help menu and then throws an unrelated error:

[code]

[2019-04-16 21:28] worc opened #170 "cucumberOpts.strict doesn't work"
if i set the cucumber option `strict` to false, pending step definitions still return an exit code > 0

using yarn@1.13.0 and node@10.15.1 with some wdio things in package.json:
[code]

[2019-05-06 16:57] merugaJS commented on #166
@QA2Dev did you found any alternative for this?

[2019-05-13 08:36] PFaz540 commented on #169
I don't think this is specific to the cucumber service, as I'm getting this in my wdio project (I'm using the mocha service)

I posted this in the WebdriverIO Gitter:

The below works as expected, the baseUrl in my config is replaced by whatever I use in CLI.

[code]

But if I have a script in my package.json that is:
[code]
And I write the below in terminal, it errors mentioning multiple config f

[2019-05-13 11:03] WillBrock commented on #169
@PFaz540 When using npm run you need to specify `--` before you start your argument list.

e.g.
```npm run test:desktop -- --baseUrl https://www.google.co.uk```

[2019-05-21 13:33] MaheshGooner opened #171 "session not created: Unable to create new service: ChromeDriverService"
chromedriver fails to start

[code]

[2019-05-21 13:41] christian-bromann commented on #171
@MaheshGooner you are using v5 with Cucumber? This is not yet supported. Please follow https://github.com/webdriverio/webdriverio/pull/3667 for updates.

[2019-05-21 13:41] #171 closed, assigned to nobody

[2019-05-22 12:52] MaheshGooner commented on #171
@christian-bromann i got this issue fixed and i am able to run cucumber with wdio 5

[2019-05-22 13:17] abjerstedt commented on #171
@MaheshGooner please elaborate..... I haven't completed my PR yet, and so we don't support cucumber.

[2019-05-22 13:35] MaheshGooner commented on #171
@abjerstedt I use the below configuration and i launch the selenium server separately but only once before the tests execute and i also install `chromedriver`

[code]

I get one deprecation warning though
[code]
But i am able to run my cucumber tests without any issues.

[2019-05-22 13:45] abjerstedt commented on #171
@MaheshGooner I don't see "webdriverio" in your dependencies at all... AFAIK, @wdio/cli isn't enough, and i have a feeling you are using v4 still.

Try nuking your node modules and yarn lock and starting fresh. wdio-cucumber-framework 2.2.8 will not work with v5.

[2019-05-22 13:46] abjerstedt commented on #171
Actually... i'm 100% sure of it. Looking at your log, you are seeing logLevels that are v4. We don't use info/debug in v5.

[2019-05-22 13:52] MaheshGooner commented on #171
I deleted my nodemodules and yarn.lock. reran the project and still all good.
I also have a CI runner on an ubuntu docker container no problems there as well.

[2019-05-22 13:55] BorisOsipov commented on #171
@MaheshGooner you can remove all "@wdio/*" packages and everything still will be good :)

[2019-05-22 14:00] MaheshGooner commented on #171
haha. sorry that doesn't work :D. you know i have a wdio.conf.js :)

[2019-05-22 14:13] abjerstedt commented on #171
@MaheshGooner
[code]

You are definitively using Webdriverio v4. This is not a v5 log. That said, you are using v5 CLI, and you can see the v4 code printing to stdout.

How did you delete your node_modules, your lock and how did you run install?

[2019-05-22 14:35] MaheshGooner commented on #171
i think you are right. when i created this ticket i might be using v4 but i migrated later to v5. i see there are issues with the logs but it doesn't stop me from running the tests.

[code]

[2019-05-22 14:51] abjerstedt commented on #171
@MaheshGooner Considering you are using your tests to verify production code, I STRONGLY suggest you rollback to v4 until i complete my PR.

If you are that set on using v5 immediately, you can merge in the changes that i made in my PR to the cucumber-boilerplate, and then pulldown and crosslink my PR into your test repo. That said, my PR requires significant testing and you need to consider this

[2019-05-22 15:49] MaheshGooner commented on #171
ok. i will try both the options. Thanks

[2019-05-27 14:13] udattuh opened #172 "before() in wdio.conf.js is not executing the spec file which I would like to execute before all other spec files."
before() in wdio.conf.js is not executing the spec file which I would like to execute before all other spec files.

code snippet:
wdio.conf.js
before (capabilities, {'./specs/login.spec.js' : login, './specs/socialstudies.spec.js': social}) {
    require('babel-register');
  },

Please let me know if this is not the right format.

Thanks,
Hemalatha Udattu

[2019-05-28 10:52] udattuh commented on #172
Hi

Can someone give me an update on this ticket please.

Thanks,
Hemalatha Udattu

[2019-06-07 09:54] kamolins3 opened #173 "CucumberOpts.compiler doesn't handle compiler options correctly"
In readme there is an example of passing compiler options to such as:
`[ ['js:babel-register', { ignore: [] }] ]`

Error thrown is `compiler.split is not a function`

Looking into it a bit in `wdio-cucumber-framework/build/adapter.js:222`

This function here:
[code]

Compiler array passed to it looks like this:
[code]

wdio-cucumber-framework 2.2.8

[2019-06-08 23:04] abianche commented on #167
Did you find a way to workaround this problem? I would like to retry a scenario, or even a feature file, if such a timeout happens.

[2019-06-18 14:56] de-robat opened #174 "Question: How do you use the build in Reporter?"
First of all, thanks for this framework. It works really well. Im just having trouble to figure out, how i am supposed to use the reporter. I can see it doing its work, in terms of sending events via process.send out of the cucumber framework, but i cant get any wdio reporter to pick up on these events. they just dont get passed trough the process chain.

So neither the spec nor the dot reporter d

[2019-06-18 14:59] BorisOsipov commented on #174
yes, you still can't use cucumber with v5.

You can speed up cucumber support by contributing to the PR https://github.com/webdriverio/webdriverio/pull/3667

[2019-06-18 14:59] #174 closed, assigned to nobody

[2019-06-18 15:02] de-robat commented on #174
Ty for the quick response, i was wondering if this note is up to date becaues evrything else seems to work just fine already. So thank for saving my sanity by confirming!

[2019-06-18 15:02] BorisOsipov commented on #167
Hi, workaround for this problem is pretty easy - make `cucumberOpts.timeout` greater than any wait\sleep timeouts in your tests - it will help to avoid cucumber timeouts and retries will work.

[2019-06-18 20:47] jlin-namely commented on #174
@de-robat did u say that it is working for you?

[2019-06-19 04:22] de-robat commented on #174
Well so far, ive written step bindings, some specs in gherkin, but cant get the reproter to work. so yes the version i have do work togehter. but i may not have used alle the features of cucumber/wdio yet. but so far no issues besides the reporter obv. is there a list that shows the parts that are still open to be ported @jlin-namely ?

[2019-06-24 09:53] #169 closed, assigned to nobody

[2019-06-24 09:55] christian-bromann commented on #160
@ckurban this should be fixed in the latest version of this package: https://www.npmjs.com/package/@wdio/cucumber-framework

[2019-06-24 09:55] #160 closed

[2019-06-24 21:59] worc commented on #169
this should still be open. this is a bug with *yarn* not npm... :/

[2019-06-24 22:07] christian-bromann commented on #169
Why is this a bug with yarn? And even if it would be why should this still be open then?

[2019-07-06 16:49] mvgiacomello commented on #78
Anyone found a solution for this when running Mocha instead of Cucumber?

[2019-07-24 07:49] Lusito opened #175 "Fibers@4 for Node12 support"
I Can't install wdio-cucumber-framework on Node 12 because of a fibre issue in V3.
wdio-sync already fixed this it seems: https://github.com/webdriverio/webdriverio/issues/3895

Thanks for the good work!

[2019-07-24 08:08] Lusito commented on #175
Nevermind, I didn't notice this is now a graveyard and a new project has been released.

[2019-07-24 08:08] #175 closed, assigned to nobody

[2019-07-29 19:01] markbirbeck commented on #169
This also seems to happen if you do:

[code]

So I don't think it's anything to do with Yarn or NPM.

[2019-07-31 12:22] mjhenkes commented on #169
The issue here is that your shell is expanding the glob, not wdio. Try quoting your string:

`yarn run wdio ./wdio.conf.js --spec './src/**/*.feature'`

https://medium.com/@jakubsynowiec/you-should-always-quote-your-globs-in-npm-scripts-621887a2a784

Does the --spec cli option support globs?

[2019-09-26 08:48] espekkaya commented on #152
Hello,
The same problem that I have had. If you use afterStep to take screenshot, the screenshot save after that step attach.

Here is my package.json file details below;

[code]

[2019-10-08 14:59] syedasadulhaq commented on #106
any update on this?

[2019-10-08 15:05] abjerstedt commented on #106
@syedasadulhaq We have launched cucumber on webdriverio v5 months ago. We will not be doing feature enhancements on this repository.

[2019-10-08 15:05] #106 closed

[2019-10-08 15:09] syedasadulhaq commented on #106
Thanks for the prompt response @abjerstedt. I'm using "webdriverio": "^5.11.13",
I believe the "retry flaky tests in scenario level" is not available in wdio 5 (https://github.com/webdriverio/webdriverio/tree/master/packages/wdio-cucumber-framework) either. Please correct me if I'm wrong. Thanks!

[2019-10-08 15:17] abjerstedt commented on #106
@syedasadulhaq Then you should look for updates in the webdriverio repository :). If there isn't already an issue for this there, feel free to add a new feature enhancement request.

[2019-10-08 15:18] syedasadulhaq commented on #106
ok, thanks

[2019-10-10 17:53] jcollum-autodesk commented on #78
@christian-bromann I think that fix only applies to cucumber. It would be better (and more in line with other nodejs testing frameworks) if we could specify a test by name. When I try to run a single test using the proposed solution with wdio/mocha I get this:

[code]

[2019-10-10 19:05] erwinheitzman commented on #78
If you check the documentation about the spec option it states that it should be an array instead of a string: https://webdriver.io/docs/clioptions.html

Notice the error stating: cliArgFileList.join(', ')

[2019-10-10 19:46] jcollum-autodesk commented on #78
How do I pass an array? The docs don't talk about it.

[code]

None of those work. Plus, it's only one file, why would I need to put it in an array? Don't you think it's more likely that the CLI is thinking that `:71` is part of the file path?

Actually now I question whether your docs are correct:

    --version             prints WebdriverIO version                     [boolean]

`--version` exp

[2019-10-10 19:55] jcollum-autodesk commented on #78
OK I tried spaces, got the same error:

    yarn test --spec e2e-test/specs/desktop/flows/project/project.spec.js:49 e2e-test/specs/desktop/flows/project/project.spec.js:70

[code]

The error makes sense: it can't find a file called `e2e-test/specs/desktop/flows/project/project.spec.js:49` because it is not clipping off the `:49` before loading the file.

[2019-11-19 17:15] jonn-set commented on #162
@christian-bromann, was this released?

[2019-11-20 17:52] vrudhay commented on #115
It is working for me too... Thanks very much BorisOsipov - you are super!!!

[2019-12-17 19:17] damonpam commented on #6
Is there any option in wdio to display the usage of step definitions similiar as the cucumber formatter `usage`?